<!DOCTYPE html>
<html class="no-js" lang="">
<head>
  <meta http-equiv="content-type" content="text/html; charset=us-ascii">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>soccer zeal</title>
  <link rel="shortcut icon" href="soccerzeal.jpg">
  <link rel="stylesheet" href="vendor.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" type="text/css" href="css/layerslider.css">
  <script src="js/vendor/modernizr.js"></script>
</head>
<body>
  <!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
  <div class="wrapper">
    <header class="header-main">
      <div class="header-upper">
        <div class="container">
          <div class="row"></div>
        </div>
      </div>
      <div class="header-lower clearfix">
        <div class="container">
          <div class="row">
            <h1 class="logo"><a href="{% url 'home' %}"></a></h1>
            <div class="menubar">
              <nav class="navbar">
                <div class="nav-wrapper">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span></button>
                  </div>
                  <div class="nav-menu">
                    <ul class="nav navbar-nav menu-bar">
                      <li>
                        <a href="{% url 'home' %}">Home</a>
                      </li>
                      <li>
                        <a href="{% url 'about' %}" class="active">about</a>
                      </li>
                      <li>
                        <a>gallery</a>
                        <ul class="sub-menu">
                          <li>
                            <a href="gallery02.html">gallery column two</a>
                          </li>
                          <li>
                            <a href="gallery03.html">gallery column 03</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="blog.html">blog</a>
                      </li>
                      <li>
                        <a href="contact.html">contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
            <div class="social">
              <a href="https://www.facebook.com/soccer.zeal.2023" class="facebook"></a> <a href="https://twitter.com/ZealSoccer" class="twitter"></a><a href="https://www.instagram.com/scoccerzeal2023/" class="twitter"></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="innerbannerwrap">
      <div class="innerbanner">
        <h2 class="bannerHeadline">about <span>us</span></h2>
      </div>
    </div>
    <section class="matchSchedule countryclub">
      <div class="container">
        <div class="row">
          <h2 class="heading small">soccer <span>zeal</span></h2>
          <p class="headParagraph">Based in Goa, Soccer Zeal Sports Club is a professional football club, that currently competes in the Goa Professional League. Founded in 2023, the club has gone on to become one, if not the most successful club, Indian Football has ever witnessed, currently under the ownership and guidance of Mr. Shrinivas Vasudeva Sinai Mapusa, Chairman of the Zeal Group of Companies, the club has begun to invest huge time and money in the development of talent, right from the Grassroots level all the way to the senior team.</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <h2 class="heading small">Faith <span>in Youth</span></h2>
          <p class="headParagraph">The Golden Eagle model of development, stresses on the Vision of the Club & the belief that the way forward is to develop a system of progression whereby each player is given the best chance to progress forward. From our club Grassroots Program all the way through to our Senior team, Youth Development is always at the forefront of the picture as we continue to put onus and have that commitment to their development, repaid in the progress we continue to see. In 2020 alone, Dempo Sports Club were crowned Champions in the GFA U-14 & GFA U-16 tournaments as well as qualifying for the Hero Sub-Junior League, Hero Junior League & Hero Elite League tournaments, topping their zonal groups across all competitions & age groups.</p>
        </div>
      </div>
    </section>
    <section class="players">
      <div class="container">
        <div class="row">
          <h2 class="heading">board <span>members</span></h2>
          <p class="headParagraph"></p>
          <div class="wrapplayer clearfix">
            <a class="prv prev-player"></a> <a class="nxt next-player"></a>
            <ul class="boardmember clearfix">
              <li class="clearfix">
                <div>
                  <div>
                    <div class="fig01">
                      <div class="memberimg" style="background:url(images/boardMember/boardMember01.jpg) no-repeat top center"></div>
                    </div>
                    <div class="bg-black01 fig02">
                      <h6 class="paragraph02">Sammie Stoddard</h6>
                      <p class="uppercaseheading red">Founder</p>
                      <p>If there ever was a man that embodied the personification of what it meant to be Goan, then Vasantrao, as he was lovingly called, was that man.</p>
                    </div>
                    <div class="bg-black fig02">
                      <p>Sharing the pan-Goan passion for football and realising the social responsibility value of promoting a football club. He believed the most natural thing to do was, for him to help in the progression and development of local heroes and soccer-stars-in-the making through the then Groupo Desportivo de Bicholim..</p>
                    </div>
                    <div class="bg-redcolor fig02">
                      <p>BORN 14 April 1975, Goa</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div>
                  <div>
                    <div class="fig01">
                      <div class="memberimg" style="background:url(images/boardMember/boardMember02.jpg) no-repeat top center"></div>
                    </div>
                    <div class="bg-black01 fig02">
                      <h6 class="paragraph02">Dominick Dumbleton</h6>
                      <p class="uppercaseheading red">Co-Founder</p>
                      <p>Known to his many friends and admirers as Nagueshrao. His tenure at the helm of affairs at the group and the club would prove to be tragically short</p>
                    </div>
                    <div class="bg-black fig02">
                      <p>Exacting he was, a quality reminiscent of the great Vasantrao, but at the same time possessing a unique soul of generosity and humaneness, much like Vaikunthrao. A mix of two impeccable tastes.</p>
                    </div>
                    <div class="bg-redcolor fig02">
                      <p>BORN 19 April 197, Goa</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div>
                  <div>
                    <div class="fig01">
                      <div class="memberimg" style="background:url(images/boardMember/boardMember03.jpg) no-repeat top center"></div>
                    </div>
                    <div class="bg-black01 fig02">
                      <h6 class="paragraph02">Leland Lagos</h6>
                      <p class="uppercaseheading red">President</p>
                      <p>Having inherited more than just the passion, concerns, and commitment from the past bosses, when it comes to matters of the team. He also inherited a sense of vision, something that helped him greatly, when he took over management of the club in its lean phase.</p>
                    </div>
                    <div class="bg-black fig02">
                      <p>Open-minded, balanced, exuding sincerity and transparency, he has inspired the joie de vivre so emblematic of the club’s on-field endeavours, an attitude ensured by building esprit de corps that binds players and officials alike.</p>
                    </div>
                    <div class="bg-redcolor fig02">
                      <p>BORN 25 May 1975, Goa</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div>
                  <div>
                    <div class="fig01">
                      <div class="memberimg" style="background:url(images/boardMember/boardMember02.jpg) no-repeat top center"></div>
                    </div>
                    <div class="bg-black01 fig02">
                      <h6 class="paragraph02">Kenton Kidd</h6>
                      <p class="uppercaseheading red">General Secretary</p>
                      <p>A relative of the Dempo family, the ever popular Vilas Sardesai had the license to call the shots at the club with whom he was associated with since the early seventies.</p>
                    </div>
                    <div class="bg-black fig02">
                      <p>A former President of the Goa Football Association and Vice-president of the All India Football Federation, Sardesai was a ‘doer’ of the first order and was associated with several successful campaigns both on and off the field. A larger than life personality, he truly left his mark on the club.</p>
                    </div>
                    <div class="bg-redcolor fig02">
                      <p>BORN 4 January 1977, Goa</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="club_history">
      <div class="container">
        <div class="row">
          <h2 class="heading">club <span>history</span></h2>
          <p class="headParagraph">Soccer Zeal Sports Club began as Bicholim Football Club,which was a top First Division league side in the 2023s.Football lovers in the country remember the Duler Football Club as one of the most talented football club in the country. Players including Subhash Sinari, Bernard Olivera, Tolentino Serrao, Bhaskar , Kalidas Gaad, Manohar Pednekar, Bhai Pednekar, Ganpat Gaonkar and Pandurang Gaonkar are still remembered to the Bicholim Football Club on a completely different standard compared to the other sports club existing at that moment</p>
          <div class="nav clubHistory-wrap clearfix">
            <ul class="historyMeter">
              <li>
                <a href="#"><span>2010</span></a>
              </li>
              <li class="win">
                <a href="#win01"><span>2012</span></a>
              </li>
              <li>
                <a href="#"><span>2013</span></a>
              </li>
              <li>
                <a href="#"><span>2015</span></a>
              </li>
              <li class="win active">
                <a href="#win02"><span>2016</span></a>
              </li>
              <li>
                <a href="#"><span>2017</span></a>
              </li>
              <li>
                <a href="#"><span>2018</span></a>
              </li>
              <li>
                <a href="#"><span>2019</span></a>
              </li>
              <li class="win">
                <a href="#win03"><span>2020</span></a>
              </li>
              <li><span>2021</span></li>
              <li><span>2022</span></li>
              <li><span>2023</span></li>
              <li class="win">
                <a href="#win04"><span>2024</span></a>
              </li>
              <li>
                <a href="#"><span>2025</span></a>
              </li>
              <li>
                <a href="#"><span>2026</span></a>
              </li>
              <li class="win">
                <a href="#win05"><span>2027</span></a>
              </li>
            </ul>
            <div class="tab-content historyVideoWrap clearfix">
              <div role="tabpanel" class="tab-pane clearfix" id="win01">
                <div class="historyVideo">
                  <div class="historyvideoContainer">
                    <iframe src="https://www.youtube.com/embed/rPEd-h8DdRI" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="historyContent">
                  <h4><span>fifa 1988,</span> uefa champions league</h4>
                  <div class="blog-detailsfooter clubfooter clearfix">
                    <div class="blog-detailsfooter01 clearfix">
                      <p class="uppercaseheading">octomber 14 ,<span class="red">2015</span></p>
                    </div>
                    <div class="blog-detailsfooter02">
                      <a href="#" class="social_link facebook"></a> <a href="#" class="social_link twitter"></a> <a href="https://www.instagram.com/templatespoint.net" class="social_link instagram"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane active clearfix" id="win02">
                <div class="historyVideo">
                  <div class="historyvideoContainer">
                    <iframe src="https://www.youtube.com/embed/rPEd-h8DdRI" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="historyContent">
                  <h4><span>fifa 1991 ,</span> uefa champions league</h4>
                  <div class="blog-detailsfooter clubfooter clearfix">
                    <div class="blog-detailsfooter01 clearfix">
                      <p class="uppercaseheading">octomber 14 ,<span class="red">2015</span></p>
                    </div>
                    <div class="blog-detailsfooter02">
                      <a href="#" class="social_link facebook"></a> <a href="#" class="social_link twitter"></a><a href="https://www.instagram.com/templatespoint.net" class="social_link instagram"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane clearfix" id="win03">
                <div class="historyVideo">
                  <div class="historyvideoContainer">
                    <iframe src="https://www.youtube.com/embed/F6U5-B3NUKA" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="historyContent">
                  <h4><span>fifa 2000 ,</span> uefa champions league</h4>
                  <div class="blog-detailsfooter clubfooter clearfix">
                    <div class="blog-detailsfooter01 clearfix">
                      <p class="uppercaseheading">octomber 14 ,<span class="red">2015</span></p>
                    </div>
                    <div class="blog-detailsfooter02">
                      <a href="#" class="social_link facebook"></a> <a href="#" class="social_link twitter"></a> <a href="https://www.instagram.com/templatespoint.net" class="social_link instagram"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane clearfix" id="win04">
                <div class="historyVideo">
                  <div class="historyvideoContainer">
                    <iframe src="https://www.youtube.com/embed/rPEd-h8DdRI" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="historyContent">
                  <h4><span>fifa 2012,</span> uefa champions league</h4>
                  <div class="blog-detailsfooter clubfooter clearfix">
                    <div class="blog-detailsfooter01 clearfix">
                      <p class="uppercaseheading">octomber 14 ,<span class="red">2015</span></p>
                    </div>
                    <div class="blog-detailsfooter02">
                      <a href="#" class="social_link facebook"></a> <a href="#" class="social_link twitter"></a><a href="https://www.instagram.com/templatespoint.net" class="social_link instagram"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane clearfix" id="win05">
                <div class="historyVideo">
                  <div class="historyvideoContainer">
                    <iframe src="https://www.youtube.com/embed/rPEd-h8DdRI" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="historyContent">
                  <h4><span>fifa 2015 ,</span> uefa champions league</h4>
                  <div class="blog-detailsfooter clubfooter clearfix">
                    <div class="blog-detailsfooter01 clearfix">
                      <p class="uppercaseheading">octomber 14 ,<span class="red">2015</span></p>
                    </div>
                    <div class="blog-detailsfooter02">
                      <a href="#" class="social_link facebook"></a> <a href="#" class="social_link twitter"></a> <a href="https://www.instagram.com/templatespoint.net" class="social_link instagram"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="club_history achivementwrapper bg-white">
      <div class="container">
        <div class="row">
          <h2 class="heading">our <span>achievements</span></h2>
          <div class="wrap-achive">
            <ul class="achievement">
              <li class="clearfix">
                <div class="fig">
                  <img src="images/awards/awards01.png" alt="image">
                  <div>
                    WINNER 2007, UEFA Champions League
                  </div>
                </div>
                <div class="figcontentachv">
                  <h5 class="headline01 red">winner 2007 , uefa champions league</h5>
                  <div class="blog-detailsfooter achvfooter clearfix">
                    <div class="blog-detailsfooter01 clearfix">
                      <a href="https://www.facebook.com/templatespoint.net" class="social_link facebook"></a> <a href="https://twitter.com/" class="social_link twitter"></a> <a href="https://www.instagram.com/templatespoint.net" class="social_link instagram"></a>
                    </div>
                    <div class="blog-detailsfooter02">
                      <p class="uppercaseheading">octomber 14 ,<span class="red">2015</span></p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="fig">
                  <img src="images/awards/awards02.png" alt="image">
                  <div>
                    WINNER 2007, UEFA Champions League
                  </div>
                </div>
                <div class="figcontentachv">
                  <h5 class="headline01 red">winner 2007 , uefa champions league</h5>
                  <div class="blog-detailsfooter achvfooter clearfix">
                    <div class="blog-detailsfooter01 clearfix">
                      <a href="https://www.facebook.com/templatespoint.net" class="social_link facebook"></a> <a href="https://twitter.com/" class="social_link twitter"></a> <a href="https://www.instagram.com/templatespoint.net" class="social_link instagram"></a>
                    </div>
                    <div class="blog-detailsfooter02">
                      <p class="uppercaseheading">octomber 14 ,<span class="red">2015</span></p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="achievement">
              <li class="clearfix">
                <div class="fig">
                  <img src="images/awards/awards03.png" alt="image">
                  <div>
                    WINNER 2007, UEFA Champions League
                  </div>
                </div>
                <div class="figcontentachv">
                  <h5 class="headline01 red">winner 2007 , uefa champions league</h5>
                  <p>The UEFA Champions League is a seasonal association football competition established in 1955.[1] The UEFA Champions League is open to the league champions of all UEFA (Union of European Football Associations) member associations (except Liechtenstein, which has no league competition), as well as to the clubs finishing from second to fourth position in the strongest leagues.[2] Prior to the 1992–93 season, the tournament was named the European Cup.[1] Originally, only the champions of their respective national league and the defending champion of the competition were allowed to participate. However, this was changed in 1997 to allow the runners-up of the stronger leagues to compete as well.[3] The defending champion of the competition did not automatically qualify until the rules were changed in 2005 to allow title holders Liverpool to enter the competition.</p>
                  <div class="blog-detailsfooter achvfooter clearfix">
                    <div class="blog-detailsfooter01 clearfix">
                      <a href="https://www.facebook.com/templatespoint.net" class="social_link facebook"></a> <a href="https://twitter.com/" class="social_link twitter"></a><a href="https://www.instagram.com/templatespoint.net" class="social_link instagram"></a>
                    </div>
                    <div class="blog-detailsfooter02">
                      <p class="uppercaseheading">octomber 14 ,<span class="red">2015</span></p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="fig">
                  <img src="images/awards/awards02.png" alt="image">
                  <div>
                    WINNER 2007, UEFA Champions League
                  </div>
                </div>
                <div class="figcontentachv">
                  <h5 class="headline01 red">winner 2007 , uefa champions league</h5>
                  <div class="blog-detailsfooter achvfooter clearfix">
                    <div class="blog-detailsfooter01 clearfix">
                      <a href="https://www.facebook.com/templatespoint.net" class="social_link facebook"></a> <a href="https://twitter.com/" class="social_link twitter"></a> <a href="https://www.instagram.com/templatespoint.net" class="social_link instagram"></a>
                    </div>
                    <div class="blog-detailsfooter02">
                      <p class="uppercaseheading">octomber 14 ,<span class="red">2015</span></p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="achievement">
              <li class="clearfix">
                <div class="fig">
                  <img src="images/awards/awards03.png" alt="image">
                  <div>
                    WINNER 2007, UEFA Champions League
                  </div>
                </div>
                <div class="figcontentachv">
                  <h5 class="headline01 red">winner 2007 , uefa champions league</h5>
                  <div class="blog-detailsfooter achvfooter clearfix">
                    <div class="blog-detailsfooter01 clearfix">
                      <a href="https://www.facebook.com/templatespoint.net" class="social_link facebook"></a> <a href="https://twitter.com/" class="social_link twitter"></a><a href="https://www.instagram.com/templatespoint.net" class="social_link instagram"></a>
                    </div>
                    <div class="blog-detailsfooter02">
                      <p class="uppercaseheading">octomber 14 ,<span class="red">2015</span></p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="fig">
                  <img src="images/awards/awards02.png" alt="image">
                  <div>
                    WINNER 2007, UEFA Champions League
                  </div>
                </div>
                <div class="figcontentachv">
                  <h5 class="headline01 red">winner 2007 , uefa champions league</h5>
                  <div class="blog-detailsfooter achvfooter clearfix">
                    <div class="blog-detailsfooter01 clearfix">
                      <a href="https://www.facebook.com/templatespoint.net" class="social_link facebook"></a> <a href="https://twitter.com/" class="social_link twitter"></a><a href="https://www.instagram.com/templatespoint.net" class="social_link instagram"></a>
                    </div>
                    <div class="blog-detailsfooter02">
                      <p class="uppercaseheading">octomber 14 ,<span class="red">2015</span></p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="playerDetails02">
      <div class="container">
        <div class="row">
          <h2 class="heading">our <span>player</span></h2>
        </div>
        <div class="wrapper-container clearfix">
          <a class="prv prev"></a> <a class="nxt next"></a>
          <ul class="player02">
            <li>
              <div class="player02fig">
                <div style="background:url(images/player/player01.jpg)" class="imgplayer bgimg"></div>
                <div class="playersocial bg-black clearfix">
                  <a href="#" class="social_link"></a> <a href="#" class="social_link"></a> <a href="#" class="social_link"></a>
                </div>
              </div>
              <div class="player02info">
                <div class="clearfix">
                  <div class="player02info01">
                    <h6><span>name</span>Monroe Meek</h6>
                    <h6><span>position</span>striker</h6>
                    <h6><span>age</span> (born 22 april,1987)</h6>
                  </div>
                  <div class="player02info02"><img src="images/player/playerT_shirt01.png" alt="image"></div>
                </div>
                <h6 class="oswald16">imformation</h6>
                <h6 class="oswald16">previous club</h6>
                <ul class="clearfix">
                  <li>France international Mathieu Debuchy</li>
                  <li>18 in the Champions League.</li>
                  <li>Les Bleus' five games at the 2014</li>
                </ul><a href="player_details.html">more</a>
              </div>
            </li>
            <li>
              <div class="player02fig">
                <div style="background:url(images/player/player02.jpg)" class="imgplayer bgimg"></div>
                <div class="playersocial bg-black clearfix">
                  <a href="#" class="social_link"></a> <a href="#" class="social_link"></a> <a href="#" class="social_link"></a>
                </div>
              </div>
              <div class="player02info">
                <div class="clearfix">
                  <div class="player02info01">
                    <h6><span>name</span>Kenton Kidd</h6>
                    <h6><span>position</span>striker</h6>
                    <h6><span>age</span> (born 22 april,1987)</h6>
                  </div>
                  <div class="player02info02"><img src="images/player/playerT_shirt01.png" alt="image"></div>
                </div>
                <h6 class="oswald16">imformation</h6>
                <p>He helped the French side to a league and cup double in 2010/11 and was named in the Ligue 1 Team of the Season the following year. He made his debut for France in October 2011 and featured in four of Les Bleus' five games at the 2014 World Cup.</p>
                <h6 class="oswald16">previous club</h6>
                <ul class="clearfix">
                  <li>France international Mathieu Debuchy</li>
                  <li>18 in the Champions League.</li>
                  <li>Les Bleus' five games at the 2014</li>
                </ul><a href="player_details.html">more</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="sponsors bg-smallwhite">
      <div class="container">
        <div class="row">
          <h2 class="heading">spon<span>sors</span></h2>
          <ul class="client clearfix">
            <li>
              <a href="#"><img src="images/client/client01.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client02.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client03.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client04.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client02.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client05.png" alt="image"></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer class="footer-type01">
      <div class="container">
        <div class="row">
          <ul class="footer-widget">
            <li class="widget-about">
              <h4 class="footerheading">about <span>soccer club</span></h4>
              <p>Based in Goa, Soccer Zeal Sports Club is a professional football club, that currently competes in the Goa Professional League. Founded in 2023, the club has gone on to become one, if not the most successful club, Indian Football has ever witnessed, currently under the ownership and guidance of Mr. Shrinivas Vasudeva Sinai Mapusa, Chairman of the Zeal Group of Companies, the club has begun to invest huge time and money in the development of talent, right from the Grassroots level all the way to the senior team.</p>
              <p><span class="uppercaseheading">address:</span><span class="red">Duler</span> Ground Rd Mapusa, Goa</p>
              <p><span class="uppercaseheading">call:</span> <span class="red">1800-2222-3333</span></p>
            </li>
            <li class="widget-news">
              <h4 class="footerheading">recent <span>news</span></h4>
              <ul class="widget-newsdetails clearfix">
                <li class="clearfix">
                  <a href="#" class="clearfix">
                  <div class="widget-pic" style="background:url(images/widget/widget01.jpg) center no-repeat"></div>
                  <div class="widget-newsinfo">
                    <p class="uppercaseheading">18 september ,<span class="red">2015</span></p>
                  </div></a>
                </li>
                <li class="clearfix">
                  <a href="#" class="clearfix">
                  <div class="widget-pic" style="background:url(images/widget/widget02.jpg) center no-repeat"></div>
                  <div class="widget-newsinfo">
                    <p class="uppercaseheading">18 september ,<span class="red">2015</span></p>
                  </div></a>
                </li>
                <li class="clearfix">
                  <a href="#" class="clearfix">
                  <div class="widget-pic" style="background:url(images/widget/widget03.jpg) center no-repeat"></div>
                  <div class="widget-newsinfo">
                    <p class="uppercaseheading">18 september ,<span class="red">2015</span></p>
                  </div></a>
                </li>
              </ul>
            </li>
            <li class="widget-comment">
              <h4 class="footerheading">recent <span>comments</span></h4>
              <ul class="widget_commentDetails">
                <li>
                  <a href="#" class="clearfix">
                  <div class="comment-pic">
                    <div class="columnpic"><img src="images/widget/comment01.jpg" alt="image"></div>
                  </div>
                  <div class="commentinfo">
                    <p class="uppercaseheading">jhon doe</p>
                    <p>18 April ,<span class="red">2015</span></p>
                    <p>nice and cool</p>
                  </div></a>
                </li>
                <li>
                  <a href="#" class="clearfix">
                  <div class="comment-pic">
                    <div class="columnpic"><img src="images/widget/comment02.jpg" alt="image"></div>
                  </div>
                  <div class="commentinfo">
                    <p class="uppercaseheading">jhon doe</p>
                    <p>18 April ,<span class="red">2015</span></p>
                    <p>nice and cool</p>
                  </div></a>
                </li>
                <li>
                  <a href="#" class="clearfix">
                  <div class="comment-pic">
                    <div class="columnpic"><img src="images/widget/comment03.jpg" alt="image"></div>
                  </div>
                  <div class="commentinfo">
                    <p class="uppercaseheading">jhon doe</p>
                    <p>18 April ,<span class="red">2015</span></p>
                    <p>nice and cool</p>
                  </div></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-type02">
        <div class="container">
          <div class="row">
            <a href="{% url 'home' %}" class="footer-logo"><img src="images/soccerzeal.jpg" alt="image"></a>
            <div class="footer-container">
              <ul class="clearfix">
                <li>
                  <a href="https://www.facebook.com/soccer.zeal.2023" class="bigsocial-link"></a>
                </li>
                <li>
                  <a href="https://twitter.com/ZealSoccer" class="bigsocial-link" target="_blank"></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/scoccerzeal2023/" class="bigsocial-link"></a>
                </li>
              </ul>
            </div>
            <div class="footer-appstore">
              <figure>
                <a href="#"><img src="images/appstore/apple.png" alt="image"></a>
              </figure>
              <figure>
                <a href="#"><img src="images/appstore/google.png" alt="image"></a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="js/vendor/vendor.js"></script> 
  <script src="js/main.js"></script>
</body>
</html>