<!DOCTYPE html>
<html class="no-js" lang="">
<head>
  <meta http-equiv="content-type" content="text/html; charset=us-ascii">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>soccer club</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="vendor.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" type="text/css" href="css/layerslider.css">
  <script src="js/vendor/modernizr.js"></script>
</head>
<body>
  <!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
  <div class="wrapper">
    <header class="header-main">
      <div class="header-upper">
        <div class="container">
          <div class="row"></div>
        </div>
      </div>
      <div class="header-lower clearfix">
        <div class="container">
          <div class="row">
            <h1 class="logo"><a href="index-2.html"><img src="image/android-chrome-192x192.png" alt="image"></a></h1>
            <div class="menubar">
              <nav class="navbar">
                <div class="nav-wrapper">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span></button>
                  </div>
                  <div class="nav-menu">
                    <ul class="nav navbar-nav menu-bar">
                      <li>
                        <a href="index-2.html">Home</a>
                      </li>
                      <li>
                        <a href="{% url 'about' %}">about</a>
                      </li>
                      <li>
                        <a>gallery</a>
                        <ul class="sub-menu">
                          <li>
                            <a href="gallery02.html">gallery column two</a>
                          </li>
                          <li>
                            <a href="gallery03.html">gallery column 03</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="blog.html">blog</a>
                      </li>
                      <li>
                        <a href="contact.html">contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
            <div class="social">
              <a href="https://www.facebook.com/soccer.zeal.2023" class="facebook"></a> <a href="https://twitter.com/ZealSoccer" class="twitter"></a><a href="https://www.instagram.com/scoccerzeal2023/" class="twitter"></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="innerbannerwrap">
      <div class="content"></div>
      <div class="innerbanner">
        <h2 class="bannerHeadline"><span>awards</span></h2>
      </div>
    </div>
    <section class="playerDpage">
      <div class="container">
        <div class="row">
          <h2 class="heading">our <span>achievements</span></h2><br>
          <ul class="playerDetailsPage-info achivement-dtl clearfix">
            <li>
              <h2>2007</h2>
              <h3>UEFA club winner</h3>
              <div class="details">
                <h6>Details</h6>
                <p>The 2007 UEFA Champions League final was the final match of the 2006–07 UEFA Champions League, Europe's primary club football competition. The showpiece event was contested between Liverpool of England and Milan of Italy at the Olympic Stadium in Athens, Greece, on 23 May 2007.</p>
              </div>
            </li>
            <li>
              <h3 class="evntp">event</h3>
              <h4 class="eventsub">2006-07 UEFA Champions League</h4>
              <div class="logo-award-wrap"></div>
              <div class="bio_player">
                <div>
                  <span>date</span>21 june 2007
                </div>
                <div>
                  <span>venue</span>Alpha Hawks, Berlin
                </div>
                <div>
                  <span>Man of the Match</span>Leland Lagos
                </div>
                <div>
                  <span>Attendance</span>70,442
                </div>
                <div>
                  <span>weather</span>Partly cloudy 26 °C (79 °F), 49% Humidity
                </div>
              </div>
            </li>
          </ul>
          <div class="award_tag">
            winner 2007 , uefa champions league
          </div>
          <div class="information_section">
            <h4>venue</h4>
            <p>The Olympic Stadium in Athens was selected as the venue for the 2007 UEFA Champions League final at the April 2005 meeting of the UEFA Executive Committee in Tallinn, Estonia.</p>
            <p>The meeting also determined the venues for the 2006 final and the 2006 and 2007 UEFA Cup finals.Shortly before the final, the UEFA Champions League trophy was returned to UEFA by Ludovic Giuly, representing the 2006 winners, Barcelona. UEFA president Michel Platini then presented the trophy to the Mayor of Athens, Nikitas Kaklamanis, so that it might be put on display in and around the city.</p>
            <h4>history</h4>
            <p>The match was Milan's eleventh appearance in the final, and the third since 2003. They had won on six occasions (1963, 1969, 1989, 1990, 1994, 2003), and lost four times (1958, 1993, 1995, 2005). Liverpool were appearing in their seventh final.</p>
            <p>They had previously won the competition five times (1977, 1978, 1981, 1984, 2005), while they lost the 1985 final to Juventus. The final was a rematch of the 2005 final which Liverpool won 3–2 in a penalty shootout, after recovering from a three-goal deficit at half-time to level the score at 3–3 after full-time and extra time.</p>
            <h4>background</h4>
            <p>Liverpool gained entry to the competition after finishing third in the 2005–06 FA Premier League. As a result of that league position, Liverpool entered the Champions League in the third qualifying round, where their opponents were Maccabi Haifa of Israel.</p>
            <p>Liverpool won the first leg 2–1 at their home ground Anfield and a 1–1 draw in the away leg in Kyiv ensured Liverpool progressed to the group stage of the competition. Liverpool were drawn in Group C alongside French team Bordeaux, Dutch team PSV and Galatasaray of Turkey.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="sponsors">
      <div class="container">
        <div class="row">
          <h2 class="heading">spon<span>sors</span></h2>
          <ul class="client clearfix">
            <li>
              <a href="#"><img src="images/client/client01.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client02.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client03.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client04.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client02.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client05.png" alt="image"></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer class="footer-type01">
      <div class="container">
        <div class="row">
          <ul class="footer-widget">
            <li class="widget-about">
              <h4 class="footerheading">about <span>soccer club</span></h4>
              <p>Based in Goa, Soccer Zeal Sports Club is a professional football club, that currently competes in the Goa Professional League. Founded in 2023, the club has gone on to become one, if not the most successful club, Indian Football has ever witnessed, currently under the ownership and guidance of Mr. Shrinivas Vasudeva Sinai Mapusa, Chairman of the Zeal Group of Companies, the club has begun to invest huge time and money in the development of talent, right from the Grassroots level all the way to the senior team.</p>
              <p><span class="uppercaseheading">address:</span><span class="red">Duler</span> Ground Rd Mapusa, Goa 403507</p>
              <p><span class="uppercaseheading">call:</span> <span class="red">1800-2222-3333</span></p>
            </li>
            <li class="widget-news">
              <h4 class="footerheading">recent <span>news</span></h4>
              <ul class="widget-newsdetails clearfix">
                <li class="clearfix">
                  <a href="" class="clearfix">
                  <div class="widget-pic" style="background:url(images/widget/widget01.jpg) center no-repeat"></div>
                  <div class="widget-newsinfo">
                    <p class="uppercaseheading">18 september ,<span class="red">2015</span></p>
                  </div></a>
                </li>
                <li class="clearfix">
                  <a href="" class="clearfix">
                  <div class="widget-pic" style="background:url(images/widget/widget02.jpg) center no-repeat"></div>
                  <div class="widget-newsinfo">
                    <p class="uppercaseheading">18 september ,<span class="red">2015</span></p>
                  </div></a>
                </li>
                <li class="clearfix">
                  <a href="" class="clearfix">
                  <div class="widget-pic" style="background:url(images/widget/widget03.jpg) center no-repeat"></div>
                  <div class="widget-newsinfo">
                    <p class="uppercaseheading">18 september ,<span class="red">2015</span></p>
                  </div></a>
                </li>
              </ul>
            </li>
            <li class="widget-comment">
              <h4 class="footerheading">recent <span>comments</span></h4>
              <ul class="widget_commentDetails">
                <li>
                  <a href="#" class="clearfix">
                  <div class="comment-pic">
                    <div class="columnpic"><img src="images/widget/comment01.jpg" alt="image"></div>
                  </div>
                  <div class="commentinfo">
                    <p class="uppercaseheading">jhon doe</p>
                    <p>18 April ,<span class="red">2015</span></p>
                    <p>nice and cool</p>
                  </div></a>
                </li>
                <li>
                  <a href="#" class="clearfix">
                  <div class="comment-pic">
                    <div class="columnpic"><img src="images/widget/comment02.jpg" alt="image"></div>
                  </div>
                  <div class="commentinfo">
                    <p class="uppercaseheading">jhon doe</p>
                    <p>18 April ,<span class="red">2015</span></p>
                    <p>nice and cool</p>
                  </div></a>
                </li>
                <li>
                  <a href="#" class="clearfix">
                  <div class="comment-pic">
                    <div class="columnpic"><img src="images/widget/comment03.jpg" alt="image"></div>
                  </div>
                  <div class="commentinfo">
                    <p class="uppercaseheading">jhon doe</p>
                    <p>18 April ,<span class="red">2015</span></p>
                    <p>nice and cool</p>
                  </div></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-type02">
        <div class="container">
          <div class="row">
            <a href="index-2.html" class="footer-logo"><img src="images/soccerzeal.jpg" alt="image"></a>
            <div class="footer-container">
              <ul class="clearfix">
                <li>
                  <a href="https://www.facebook.com/soccer.zeal.2023" class="bigsocial-link"></a>
                </li>
                <li>
                  <a href="https://twitter.com/ZealSoccer" class="bigsocial-link" target="_blank"></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/scoccerzeal2023/" class="bigsocial-link"></a>
                </li>
              </ul>
            </div>
            <div class="footer-appstore">
              <figure>
                <a href="#"><img src="images/appstore/apple.png" alt="image"></a>
              </figure>
              <figure>
                <a href="#"><img src="images/appstore/google.png" alt="image"></a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="js/vendor/vendor.js"></script> 
  <script src="js/main.js"></script>
</body>
</html>