{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="">
<head>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    
    <title>{% block title %}Soccer Zeal{% endblock title %}</title>

    {% block CSS %}
    <title>Soccer zeal</title>
  <link rel="shortcut icon" href="{% static 'images/soccerzeal.jpg' %}">
  <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/layerslider.css' %}">
  <script src="{% static 'js/vendor/modernizr.js'%}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" integrity="sha512-ZnR2wlLbSbr8/c9AgLg3jQPAattCUImNsae6NHYnS9KrIwRdcY9DxFotXhNAKIKbAXlRnujIqUWoXXwqyFOeIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />

    {% endblock CSS %}

    {% block JS %}
    <script src="{% static 'js/vendor/modernizr.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock JS %}

  </head>


  <div class="wrapper">
    <header class="header-main">
      <div class="header-upper">
        <div class="container">
          <div class="row">
            <ul>
              <li>
                <a href="{% url 'user_login' %}">Login</a>
              </li>
              <li>
                <a href="{% url 'user_register' %}">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header-lower clearfix">
        <div class="container">
          <div class="row">
            <h1 class="logo"><a href="{% url 'home' %}"><img src="{% static 'image/android-chrome-192x192.png' %}" alt="image"></a></h1>
            <div class="menubar">
              <nav class="navbar">
                <div class="nav-wrapper">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span></button>
                  </div>
                  <div class="nav-menu">
                    <ul class="nav navbar-nav menu-bar">
                      <li>
                        <a href="{% url 'home' %}" class="{% if nbar == 'home' %}active{% endif %}">Home</a>
                      </li>
                      <li>
                        <a href="{% url 'about' %}" class="{% if nbar == 'about' %}active{% endif %}">about</a>
                      </li>
                      <li>
                        <a class="{% if nbar == 'gallery' %}active{% endif %}">gallery</a>
                        <ul class="sub-menu">
                          <li>
                            <a href="{% url 'gallery' %}">gallery column two</a>
                          </li>
                          <li>
                            <a href="{% url 'gallery2' %}">gallery column 03</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="{% url 'blog' %}" class="{% if nbar == 'blog' %}active{% endif %}">blog</a>
                      </li>
                      <li>
                        <a href="{% url 'contact' %}" class="{% if nbar == 'contact' %}active{% endif %}">contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
            <div class="social">
              <a href="https://www.facebook.com/soccer.zeal.2023" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://twitter.com/ZealSoccer" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.instagram.com/scoccerzeal2023/" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </header>

 {% block Content %}
 
 Opps! 🤔
 
 {% endblock Content %}


 <footer class="footer-type01">
  <div class="container">
    <div class="row">
      <ul class="footer-widget">
        <li class="widget-about">
          <h4 class="footerheading">about <span>soccer club</span></h4>
          <p>Based in Goa, Soccer Zeal Sports Club is a professional football club, that currently competes in the Goa Professional League. Founded in 2023, the club has gone on to become one, if not the most successful club, Indian Football has ever witnessed, currently under the ownership and guidance of Mr. Shrinivas Vasudeva Sinai Mapusa, Chairman of the Zeal Group of Companies, the club has begun to invest huge time and money in the development of talent, right from the Grassroots level all the way to the senior team.</p>
          <p><span class="uppercaseheading">address:</span><span class="red">Duler</span>Ground Rd Mapusa, Goa</p>
          <p><span class="uppercaseheading">call:</span> <span class="red">1800-2222-3333</span></p>
        </li>
        <li class="widget-news">
          <h4 class="footerheading">recent <span>news</span></h4>
          <ul class="widget-newsdetails clearfix">
            <li class="clearfix">
              <a href="" class="clearfix">
              <div class="widget-pic" style="background:url('/static/images/widget/widget01.jpg') center no-repeat"></div>
              <div class="widget-newsinfo">
                <p class="uppercaseheading">18 september ,<span class="red">2015</span></p>
              </div></a>
            </li>
            <li class="clearfix">
              <a href="" class="clearfix">
              <div class="widget-pic" style="background:url('/static/images/widget/widget02.jpg') center no-repeat"></div>
              <div class="widget-newsinfo">
                <p class="uppercaseheading">18 september ,<span class="red">2015</span></p>
              </div></a>
            </li>
            <li class="clearfix">
              <a href="" class="clearfix">
              <div class="widget-pic" style="background:url('/static/images/widget/widget03.jpg') center no-repeat"></div>
              <div class="widget-newsinfo">
                <p class="uppercaseheading">18 september ,<span class="red">2015</span></p>
              </div></a>
            </li>
          </ul>
        </li>
        <li class="widget-comment">
          <h4 class="footerheading">recent <span>comments</span></h4>
          <ul class="widget_commentDetails">
            <li>
              <a href="#" class="clearfix">
              <div class="comment-pic">
                <div class="columnpic"><img src="{% static 'images/widget/comment01.jpg' %}" alt="image"></div>
              </div>
              <div class="commentinfo">
                <p class="uppercaseheading">jhon doe</p>
                <p>18 April ,<span class="red">2015</span></p>
                <p>nice and cool</p>
              </div></a>
            </li>
            <li>
              <a href="#" class="clearfix">
              <div class="comment-pic">
                <div class="columnpic"><img src="{% static 'images/widget/comment02.jpg' %}" alt="image"></div>
              </div>
              <div class="commentinfo">
                <p class="uppercaseheading">jhon doe</p>
                <p>18 April ,<span class="red">2015</span></p>
                <p>nice and cool</p>
              </div></a>
            </li>
            <li>
              <a href="#" class="clearfix">
              <div class="comment-pic">
                <div class="columnpic"><img src="{% static 'images/widget/comment03.jpg' %}" alt="image"></div>
              </div>
              <div class="commentinfo">
                <p class="uppercaseheading">jhon doe</p>
                <p>18 April ,<span class="red">2015</span></p>
                <p>nice and cool</p>
              </div></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-type02">
    <div class="container">
      <div class="row">
        <a href="{% url 'home' %}" class="footer-logo"><img src="{% static 'images/soccerzeal.jpg' %}" alt="image"></a>
        <div class="footer-container">
          <ul class="clearfix">
            <li>
              <a href="https://www.facebook.com/soccer.zeal.2023" class="bigsocial-link"  target="_blank"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/ZealSoccer" class="bigsocial-link" target="_blank"><i class="bi bi-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/scoccerzeal2023/" class="bigsocial-link" target="_blank"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-appstore">
          <figure>
            <a href="#"><img src="{% static 'images/appstore/apple.png' %}" alt="image"></a>
          </figure>
          <figure>
            <a href="#"><img src="{% static 'images/appstore/google.png' %}" alt="image"></a>
          </figure>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
{% block Js_footer %}
<script src="{% static 'js/vendor/vendor.js' %}"></script> 
<script src="{% static 'js/main.js' %}"></script>
{% endblock Js_footer %}

{% block page_js %}

{% endblock page_js %}