{% extends 'base.html' %}
{% load static %}

{% block Content %}
    <div class="innerbannerwrap">
      <div class="content"></div>
      <div class="innerbanner">
        <h2 class="bannerHeadline"><span>blog</span></h2>
      </div>
    </div>
    <section class="innerpage_all_wrap bg-white">
      <div class="container">
        <div class="row">
          <h2 class="heading">this is our <span>blog page</span></h2>
          <p class="headParagraph">Based in Goa, Soccer Zeal Sports Club is a professional football club, that currently competes in the Goa Professional League. Founded in 2023, the club has gone on to become one, if not the most successful club, Indian Football has ever witnessed, currently under the ownership and guidance of Mr. Shrinivas Vasudeva Sinai Mapusa, Chairman of the Zeal Group of Companies, the club has begun to invest huge time and money in the development of talent, right from the Grassroots level all the way to the senior team.</p>
          <div class="innerWrapper">
            <main class="contentinner">
              <div class="blogDetails">
                <div class="blogimg">
                  <a class="prv blog_prev"></a> <a class="nxt blog_next"></a>
                  <ul class="blog_slider">
                    <li><img src="{% static 'image/aboutbg.jpg' %}" alt="image"></li>
                    <li><img src="{% static 'image/2.jpg' %}" alt="image"></li>
                    <li><img src="{% static 'image/1.jpg' %}" alt="image"></li>
                    <li><img src="{% static 'image/3.jpg' %}" alt="image"></li>
                    <li><img src="{% static 'image/4.jpg' %}" alt="image"></li>
                    <li><img src="{% static 'image/5.jpg' %}" alt="image"></li>
                  </ul>
                </div>
                <div class="blog_info">
                  <div class="clearfix">
                    <div class="headlineimgwrap01"><img src="{% static 'image/abt.png' %}" alt="image"></div>
                    <div class="headlinewrap01">
                      <h4 class="headline02">the best <span class="red">moments</span> in the seasons</h4>
                      <p class="paragraph02 uppercaseheading">october 27 ,<span class="red">2015</span></p>
                    </div>
                  </div>
                  <p class="blog-content">The Golden Eagle model of development, stresses on the Vision of the Club & the belief that the way forward is to develop a system of progression whereby each player is given the best chance to progress forward. From our club Grassroots Program all the way through to our Senior team, Youth Development is always at the forefront of the picture as we continue to put onus and have that commitment to their development, repaid in the progress we continue to see. In 2020 alone, Dempo Sports Club were crowned Champions in the GFA U-14 & GFA U-16 tournaments as well as qualifying for the Hero Sub-Junior League, Hero Junior League & Hero Elite League tournaments, topping their zonal groups across all competitions & age groups.</p>
                  <div class="blog-detailsfooter clearfix">
                    <div class="blog-detailsfooter01 clearfix">
                      <a href="https://www.facebook.com/templatespoint.net" class="social_link facebook"><i class="bi bi-facebook"></i></a> <a href="https://twitter.com/" class="social_link twitter"><i class="bi bi-twitter"></i></a>
                    </div>
                    <div class="blog-detailsfooter02"></div>
                  </div>
                </div>
              </div>
              <div class="blogDetails">
                <div class="blogimg">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/yMVRxBc8jmI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="blog_info">
                  <div class="clearfix">
                    <div class="headlineimgwrap01"><img src="{% static 'image/abt.png' %}" alt="image"></div>
                    <div class="headlinewrap01">
                      <h4 class="headline02">the best <span class="red">moments</span> in the seasons</h4>
                      <p class="paragraph02 uppercaseheading">october 27 ,<span class="red">2015</span></p>
                    </div>
                  </div>
                  <p class="blog-content">Open-minded, balanced, exuding sincerity and transparency, he has inspired the joie de vivre so emblematic of the club’s on-field endeavours, an attitude ensured by building esprit de corps that binds players and officials alike.</p>
                  <div class="blog-detailsfooter clearfix">
                    <div class="blog-detailsfooter01 clearfix">
                      <a href="https://www.facebook.com/templatespoint.net" class="social_link facebook" ><i class="bi bi-facebook"></i></a> <a href="https://twitter.com/" class="social_link twitter"><i class="bi bi-twitter"></i></a>
                    </div>
                    <div class="blog-detailsfooter02"></div>
                  </div>
                </div>
              </div>
              <div class="blogDetails">
                <div class="blogimg">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/cezaX5lSrsI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
                 </div>
              </div>
            </main>
            <aside class="widgetinner clearfix">
              <div class="row">
                <div class="blog_widget">
                  <h4 class="oswald16">search</h4>
                  <div class="search_box">
                    <input type="text" placeholder="Enter your keyword">
                  </div>
                </div>
                <div class="blog_widget">
                  <h4 class="oswald16">blog catagories</h4>
                  <div class="body-catagories panel-group paragraph02" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed paragraph02" aria-expanded="false">general questions</a></h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" role="tabpanel" style="height: 0px;">
                        <ul class="inner-list-items">
                          <li>
                            <a href="#" class="paragraph02">Sub-category 01</a>
                          </li>
                          <li>
                            <a href="#" class="paragraph02">Sub-category 02</a>
                          </li>
                          <li>
                            <a href="#" class="paragraph02">Sub-category 03</a>
                          </li>
                          <li>
                            <a href="#" class="paragraph02">Sub-category 04</a>
                          </li>
                          <li>
                            <a href="#" class="paragraph02">Sub-category 05</a>
                          </li>
                          <li>
                            <a href="#" class="paragraph02">Sub-category 06</a>
                          </li>
                          <li>
                            <a href="#" class="paragraph02">Sub-category 07</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed paragraph02" aria-expanded="false">best matches</a></h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" role="tabpanel" style="height: 0px;">
                        <ul class="inner-list-items">
                          <li>
                            <a href="#" class="paragraph02">Sub-category 01</a>
                          </li>
                          <li>
                            <a href="#" class="paragraph02">Sub-category 02</a>
                          </li>
                          <li>
                            <a href="#" class="paragraph02">Sub-category 03</a>
                          </li>
                          <li>
                            <a href="#" class="paragraph02">Sub-category 04</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed paragraph02" aria-expanded="false">technical support</a></h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" role="tabpanel" style="height: 0px;">
                        <ul class="inner-list-items">
                          <li>
                            <a href="#" class="paragraph02">Sub-category 01</a>
                          </li>
                          <li>
                            <a href="#" class="paragraph02">Sub-category 02</a>
                          </li>
                          <li>
                            <a href="#" class="paragraph02">Sub-category 03</a>
                          </li>
                          <li>
                            <a href="#" class="paragraph02">Sub-category 04</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="blog_widget">
                  <h4 class="oswald16">follow us</h4>
                  <div class="blog_social">
                    <a href="#" class="social_link"></a> <a href="#" class="social_link"></a> <a href="#" class="social_link"></a> <a href="#" class="social_link"></a> <a href="#" class="social_link"></a>
                  </div>
                </div>
                <div class="blog_widget">
                  <h4 class="oswald16">popular posts</h4>
                  <ul class="widget_commentDetails">
                    <li>
                      <a href="#" class="clearfix">
                      <div class="comment-pic">
                        <div class="columnpic"><img src="{% static 'images/widget/comment01.jpg' %}" alt="image"></div>
                      </div>
                      <div class="commentinfo">
                        <p>Lorem ipsum dolor sit amet, conse ctetur .</p>
                        <p class="red">@lorem ipsum</p>
                      </div></a>
                    </li>
                    <li>
                      <a href="#" class="clearfix">
                      <div class="comment-pic">
                        <div class="columnpic"><img src="{% static 'images/widget/comment02.jpg' %}" alt="image"></div>
                      </div>
                      <div class="commentinfo">
                        <p>Lorem ipsum dolor sit amet, conse ctetur .</p>
                        <p class="red">@lorem ipsum</p>
                      </div></a>
                    </li>
                    <li>
                      <a href="#" class="clearfix">
                      <div class="comment-pic">
                        <div class="columnpic"><img src="{% static 'images/widget/comment03.jpg' %}" alt="image"></div>
                      </div>
                      <div class="commentinfo">
                        <p>Lorem ipsum dolor sit amet, conse ctetur .</p>
                        <p class="red">@lorem ipsum</p>
                      </div></a>
                    </li>
                  </ul>
                </div>
                <div class="blog_widget b_twitter">
                  <h4 class="oswald16">twitter</h4>
                  <p class="red">@Showcase & Discover</p>
                  <p>Open-minded, balanced, exuding sincerity and transparency, he has inspired the joie de vivre so emblematic of the club’s on-field endeavours, an attitude ensured by building esprit de corps that binds players and officials alike.</p>
                </div>
                <div class="blog_widget b_twitter">
                  <h4 class="oswald16">instagram</h4>
                  <p class="red">@experimental lettering project</p>
                  <ul class="galleryontent04 clearfix">
                    <li>
                      <a href="#" class="clearfix">
                      <div style="background:url({% static 'images/widget/widgetG01.jpg' %}) no-repeat center"></div></a>
                    </li>
                    <li>
                      <a href="#" class="clearfix">
                      <div style="background:url({% static 'images/widget/widgetG02.jpg' %}) no-repeat center"></div></a>
                    </li>
                    <li>
                      <a href="#" class="clearfix">
                      <div style="background:url({% static 'images/widget/widgetG03.jpg' %}) no-repeat center"></div></a>
                    </li>
                    <li>
                      <a href="#" class="clearfix">
                      <div style="background:url({% static 'images/widget/widgetG04.jpg' %}) no-repeat center"></div></a>
                    </li>
                    <li>
                      <a href="#" class="clearfix">
                      <div style="background:url({% static 'images/widget/widgetG05.jpg' %}) no-repeat center"></div></a>
                    </li>
                    <li>
                      <a href="#" class="clearfix">
                      <div style="background:url({% static 'images/widget/widgetG06.jpg' %}) no-repeat center"></div></a>
                    </li>
                    <li>
                      <a href="#" class="clearfix">
                      <div style="background:url({% static 'images/widget/widgetG07.jpg' %}) no-repeat center"></div></a>
                    </li>
                    <li>
                      <a href="#" class="clearfix">
                      <div style="background:url({% static 'images/widget/widgetG01.jpg' %}) no-repeat center"></div></a>
                    </li>
                    <li>
                      <a href="#" class="clearfix">
                      <div style="background:url({% static 'images/widget/widgetG08.jpg' %}) no-repeat center"></div></a>
                    </li>
                  </ul>
                </div>
                <div class="blog_widget">
                  <h4 class="oswald16">subscribe</h4>
                  <p class="red italic01">follow my latest news</p>
                  <div class="mail_input">
                    <form class="form_mailSubscribe" data-parsley-validate="">
                      <input type="email" placeholder="your Email" name="email">
                      <div class="form-submessges"></div>
                    </form>
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
  {% endblock Content %}