{% extends 'base.html' %}
{% load static %}

{% block Content %}
    <div class="innerbannerwrap">
      <div class="content"></div>
      <div class="innerbanner">
        <h2 class="bannerHeadline">club <span>history</span></h2>
      </div>
    </div>
    <section class="shopDpage">
      <div class="container">
        <div class="row">
          <h2 class="heading small">soccer <span>country club</span></h2>
          <p class="headParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil debitis mollitia qui libero voluptate ratione, molestias! Necessitatibus voluptatem temporibus doloremque non.</p>
          <div class="clubHistoryWrapper clearfix">
            <div class="historyImage"><img src="images/club-history/club_history01.jpg" alt="image"></div>
            <h4>Soocer club move from Woolwich to Highbury was borne of ambition and necessity. Without it, the Club may not even have survived.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat, ex id tincidunt volutpat, libero elit malesuada urna, ac malesuada quam odio et turpis. Vestibulum eu faucibus magna. Praesent eu arcu vitae ex fermentum cursus et vitae nibh. Nulla pharetra mi vel nisl interdum eleifend. Maecenas quis ex diam. Vivamus sollicitudin tempus maximus. Quisque at nulla ut elit porta feugiat id ac nulla. Nam lacinia finibus dolor in finibus. Nullam sit amet posuere lectus. Proin placerat quam quam, et commodo leo consectetur a. Etiam ut magna aliquet, posuere urna et, dignissim nulla. Sed mattis lacinia tellus eget viverra.</p>
            <p>Pellentesque rhoncus placerat ante, nec pharetra ligula auctor non. Sed tempor et nulla vel facilisis. Nullam venenatis mauris mauris, in facilisis arcu condimentum id. Etiam lacinia justo nisl, at blandit massa molestie ac. Aliquam erat volutpat. Integer imperdiet, enim in varius scelerisque, mi lorem maximus lectus, eget fringilla neque augue eget nulla. Quisque ut nunc viverra, varius turpis sed, dignissim elit. Aenean consectetur sapien vitae accumsan aliquet. Nunc vel purus mi. Fusce suscipit metus vitae ullamcorper gravida. Quisque malesuada commodo dolor quis pretium.</p>
            <p>Donec in mattis nibh. Suspendisse non gravida sem. Fusce massa sapien, auctor lobortis aliquet nec, ultrices ut ligula. Quisque nulla sapien, dignissim a molestie sit amet, interdum ac velit. Integer molestie lacus nibh, id mattis erat suscipit sed. Suspendisse sit amet tortor sed neque iaculis maximus vitae sed dolor. Fusce id placerat tortor. Etiam semper augue interdum arcu consectetur, quis accumsan turpis ultricies. Pellentesque dolor neque, gravida at iaculis ac, commodo vehicula sapien. Cras ac orci in nulla ultricies suscipit.</p>
            <div class="quote">
              <p>Aenean facilisis sem in felis lobortis, vitae vehicula odio posuere. Nulla in pellentesque nibh. Nam nec nisi nibh. Suspendisse tortor ipsum, ultricies ac massa at, ullamcorper auctor est. Aenean convallis, metus vel efficitur posuere, purus justo porttitor libero, eget rhoncus metus neque at lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean quam lorem, fringilla non erat quis, hendrerit eleifend diam. Cras sed luctus ipsum. Vivamus fermentum porttitor ex ac molestie. Nam ut augue scelerisque tellus vehicula pharetra. In felis ex, mattis in purus tempus, viverra tempus ex. Nam malesuada vel sem eget pellentesque. Nullam tempor et tellus in elementum.</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat, ex id tincidunt volutpat, libero elit malesuada urna, ac malesuada quam odio et turpis. Vestibulum eu faucibus magna. Praesent eu arcu vitae ex fermentum cursus et vitae nibh. Nulla pharetra mi vel nisl interdum eleifend. Maecenas quis ex diam. Vivamus sollicitudin tempus maximus. Quisque at nulla ut elit porta feugiat id ac nulla. Nam lacinia finibus dolor in finibus. Nullam sit amet posuere lectus. Proin placerat quam quam, et commodo leo consectetur a. Etiam ut magna aliquet, posuere urna et, dignissim nulla. Sed mattis lacinia tellus eget viverra.</p>
            <p>Pellentesque rhoncus placerat ante, nec pharetra ligula auctor non. Sed tempor et nulla vel facilisis. Nullam venenatis mauris mauris, in facilisis arcu condimentum id. Etiam lacinia justo nisl, at blandit massa molestie</p>
            <h4>Sed tempor et nulla vel facilisis. Nullam venenatis mauris mauris</h4>
            <p>Donec in mattis nibh. Suspendisse non gravida sem. Fusce massa sapien, auctor lobortis aliquet nec, ultrices ut ligula. Quisque nulla sapien, dignissim a molestie sit amet, interdum ac velit. Integer molestie lacus nibh, id mattis erat suscipit sed. Suspendisse sit amet tortor sed neque iaculis maximus vitae sed dolor. Fusce id placerat tortor. Etiam semper augue interdum arcu consectetur, quis accumsan turpis ultricies. Pellentesque dolor neque, gravida at iaculis ac, commodo vehicula sapien. Cras ac orci in nulla ultricies suscipit.</p>
            <h4>LAYING THE FOUNDATIONS</h4>
            <div class="accordion-history">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                  <div class="clubHead" role="tab" id="headingOne">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">soccer clib formed in woolwich</a>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus impedit, maiores veritatis enim consequuntur odio quo doloremque! Non ipsum, officiis, cumque molestiae amet blanditiis facere, eum, quod unde laudantium deserunt.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="clubHead" role="tab" id="headingTwo">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Laying the Foundations - Overview</a>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora sint hic rerum quaerat, perspiciatis sapiente temporibus eos veritatis porro aspernatur ullam labore cumque exercitationem, maxime. Nesciunt optio, ipsam exercitationem! Dolor! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolores atque saepe praesentium culpa, facilis ad, nesciunt ab voluptates tempore eveniet reiciendis illum tempora cum expedita dolor, id vel voluptatum.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="clubHead" role="tab" id="headingThree">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Woolwich Arsenal play their first game</a>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, dignissimos quaerat possimus, expedita fuga totam similique eius cupiditate quo error laudantium quae vel autem fugit maxime minus libero accusantium esse.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="clubHead" role="tab" id="headingfour">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Norris negotiates top-flight return</a>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                    <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, dignissimos quaerat possimus, expedita fuga totam similique eius cupiditate quo error laudantium quae vel autem fugit maxime minus libero accusantium esse.</p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="clubHead" role="tab" id="headingFive">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Come on you Reds - the Club's coloursryWoolwich Arsenal play their first game</a>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, dignissimos quaerat possimus, expedita fuga totam similique eius cupiditate quo error laudantium quae vel autem fugit maxime minus libero accusantium esse.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="clubHead" role="tab" id="headingSix">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Club moves from Woolwich to Highbury</a>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, dignissimos quaerat possimus, expedita fuga totam similique eius cupiditate quo error laudantium quae vel autem fugit maxime minus libero accusantium esse.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h4>Aenean facilisis sem in felis lobortis, vitae vehicula odio posuere</h4>
            <p>Vivamus egestas lectus eu venenatis euismod. Phasellus fermentum, ligula vel scelerisque rhoncus, ipsum lacus mattis purus, porta mattis ligula ante non velit. Quisque lobortis vitae felis et laoreet. Nulla facilisi. Phasellus bibendum ligula vitae mattis consectetur. Donec condimentum est eget mauris rutrum, id malesuada justo volutpat. Morbi non urna ligula. Praesent cursus magna mauris, sed feugiat massa volutpat et. Aenean sed diam eget augue gravida pulvinar.</p>
          </div>
        </div>
      </div>
    </section>
{% endblock Content%}