{% extends 'base.html' %}
{% load static %}

{% block Content %}
    <div class="innerbannerwrap">
      <div class="content"></div>
      <div class="innerbanner">
        <h2 class="bannerHeadline">contact <span>us</span></h2>
      </div>
    </div>
    <section class="innerpage_all_wrap">
      <div class="container">
        <div class="row">
          <h2 class="heading">get in <span>touch</span></h2>
          <div class="innerWrapper">
            <ul class="contact_icon clearfix">
              <li>
                <a href="tel:80052608885263"><span>+91 8104037066</span></a>
              </li>
              <li>
                <a href="mailto:mail@yoursite.com"><span>soccerzzeal2023@gmail.com</span></a>
              </li>
              <li>
                <a href="#"><span>Ground Rd Mapusa, Goa</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="map_wrapper clearfix">
      <div id="map-section"></div>
      <div class="container">
        <div class="row">
          <div class="contact_form">
            <h2 class="heading">contact us <span>by form</span></h2>

            <form method="post" class="formcontact" id="contact-form">
              {% csrf_token %}
              <br>
              {{form.as_p}}
              <br>
              <input type="submit" class="btn btn-red">

              <div class="form-message"></div>
            </form>

          </div>
        </div>
      </div>
    </section>
{% endblock Content %}



{% block page_js %}
<script type="text/javascript">
  // Ajax
$(document).on('submit', '#contact-form', function (e) {
e.preventDefault();
$('.loading').addClass("d-block")

$.ajax({
    type: 'POST',
    url: '{% url "contact" %}',
    data: {
        name: $('#name').val(),
        email: $('#email').val(),
        subject: $('#subject').val(),
        message: $('#message').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
    },
    success: function (data) {
        $('#name').val('');
        $('#email').val('');
        $('#subject').val('');
        $('#message').val('');
        $(".sent-message").addClass("d-block")

    },
    error: function (data) {
        $(".error-message").addClass("d-block")
        $('.loading').removeClass("d-block")
    },
}).done((response) => {
    $('.loading').removeClass("d-block")
})
})

$(document).ready(function () {
// Set div display to none
$("#closeBtn").click(function () {
    // $("#closeBtn").css("display", "none");
    $(".sent-message").removeClass("d-block")
    
});

$("#closeBtnError").click(function () {
    // $("#closeBtn").css("display", "none");
    $(".error-message").removeClass("d-block")
});

});
</script>


  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
{% endblock page_js %}