<!doctype html>
<html class=no-js lang="">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset=utf-8>
    <meta name=description content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>soccer zeal</title>
    <link rel="shortcut icon" href=soccerzeal.jpg>
    <link rel=stylesheet href=vendor.css>
    <link rel=stylesheet href=style.css>
    <link rel=stylesheet type=text/css href=css/layerslider.css>
    <script src=js/vendor/modernizr.js></script>
</head>
<body>
<div class=wrapper>
    <header class=header-main>
        <div class=header-upper>
            <div class=container>
                <div class=row>
                    <ul>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-lower clearfix">
            <div class=container>
                <div class=row><h1 class=logo><a href="{% url 'home' %}"></a></h1>

                    <div class=menubar>
                        <nav class=navbar>
                            <div class=nav-wrapper>
                                <div class=navbar-header>
                                    <button type=button class=navbar-toggle><span class=sr-only>Toggle navigation</span>
                                        <span class=icon-bar></span></button>
                                </div>
                                <div class=nav-menu>
                                    <ul class="nav navbar-nav menu-bar">
                                        <li><a href="{% url 'home' %}">Home <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href="{% url 'about' %}">about <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a>gallery <span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href=gallery02.html>gallery column two</a></li>
                                                <li><a href=gallery03.html>gallery column 03</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=blog.html>blog <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        
                                        <li><a href=contact.html class=active>contact <span></span> <span></span>
                                            <span></span> <span></span></a></li>
                                       
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class=social><a href=https://www.facebook.com/soccer.zeal.2023 class=facebook><i
                        class="fa fa-facebook"></i></a> <a href=https://twitter.com/ZealSoccer class=twitter><i
                        class="fa fa-twitter"></i></a><a href=https://www.instagram.com/scoccerzeal2023/ class=twitter><i
                            class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
    </header>
    <div class=innerbannerwrap>
        <div class=content></div>
        <div class=innerbanner><h2 class=bannerHeadline>contact <span>us</span></h2></div>
    </div>
    <section class=innerpage_all_wrap>
        <div class=container>
            <div class=row><h2 class=heading>get in <span>touch</span></h2>

               <p></p>

                <div class=innerWrapper>
                    <ul class="contact_icon clearfix">
                        <li><a href=tel:80052608885263><i class="fa fa-phone"></i> <span>+91 8104037066</span></a></li>
                        <li><a href=mailto:mail@yoursite.com><i class="fa fa-envelope-o"></i>
                            <span>soccerzzeal2023@gmail.com</span></a></li>
                        <li><a href=#><i class="fa fa-map-marker"></i> <span> Ground Rd Mapusa, Goa</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="map_wrapper clearfix">
        <div id=map-section></div>
        <div class=container>
            <div class=row>
                <div class=contact_form><h2 class=heading>contact us <span>by form</span></h2>

                  

                    <form method="POST" action="add.php" data-parsley-validate="" name=contact class="formcontact clearfix" >
                        <div class=form-group><input type=text class=form-control name=name placeholder=Name required=""
                                                     data-parsley-required-message="please insert Name"></div>
                        <div class=form-group><input type=text class=form-control name=phone placeholder=Phone
                                                     required="" data-parsley-required-message="please insert Phone No">
                        </div>
                        <div class=form-group><input type=text class=form-control name=subject placeholder=subject
                                                     required="" data-parsley-required-message="please insert subject">
                        </div>
                        <div class=form-group><input type=email class=form-control name=email placeholder=Email
                                                     required="" data-parsley-required-message="please insert Email">
                        </div>
                        <div class=form-group1><textarea class="form-control textas" name=message placeholder=Message
                                                         required="" data-parsley-minlength=10
                                                         data-parsley-minlength-message="Come on! You need to enter at least a 10 character comment.."
                                                         data-parsley-validation-threshold=10
                                                         data-parsley-maxlength=100></textarea></div>

                        <input type=submit onclick="this.parentElement.style.display='none';" class="btn btn-red">send Us</input>
                        <a href=""{% url 'home' %}""></a>

                        <!-- <div class="alert">
                            <span class="btn btn-red" onclick="this.parentElement.style.display='none';"></span>
                            Message recorded Successfully.
                          </div> -->
                       
                        <div class=form-message></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class=footer-type01>
        <div class=container>
            <div class=row>
                <ul class=footer-widget>
                    <li class=widget-about><h4 class=footerheading>about <span>soccer club</span></h4>

                        <p>Based in Goa, Soccer Zeal Sports Club is a professional football club, that currently competes in the Goa 
                            Professional League. Founded in 2023, the club has gone on to become one, if not the most successful club,
                             Indian Football has ever witnessed, currently under the ownership and guidance of Mr. Shrinivas Vasudeva Sinai Mapusa,
                              Chairman of the Zeal Group of Companies, the club has begun to invest huge time and money in the
                               development of talent, right from the Grassroots level all the way to the senior team.</p>

                        <p><span class=uppercaseheading>address:</span><span class=red>Duler</span>  Ground Rd Mapusa, Goa 403507
                        </p>

                        <p><span class=uppercaseheading>call:</span> <span class=red>1800-2222-3333</span></p></li>
                    <li class=widget-news><h4 class=footerheading>recent <span>news</span></h4>
                        <ul class="widget-newsdetails clearfix">
                            <li class=clearfix><a href="#" class=clearfix>
                                <div class=widget-pic
                                     style="background:url(images/widget/widget01.jpg) center no-repeat"></div>
                                <div class=widget-newsinfo><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Numquam soluta excepturi.</p>

                                    <p class=uppercaseheading>18 september ,<span class=red>2015</span></p></div>
                            </a></li>
                            <li class=clearfix><a href="#" class=clearfix>
                                <div class=widget-pic
                                     style="background:url(images/widget/widget02.jpg) center no-repeat"></div>
                                <div class=widget-newsinfo><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Numquam soluta excepturi.</p>

                                    <p class=uppercaseheading>18 september ,<span class=red>2015</span></p></div>
                            </a></li>
                            <li class=clearfix><a href="#" class=clearfix>
                                <div class=widget-pic
                                     style="background:url(images/widget/widget03.jpg) center no-repeat"></div>
                                <div class=widget-newsinfo><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Numquam soluta excepturi.</p>

                                    <p class=uppercaseheading>18 september ,<span class=red>2015</span></p></div>
                            </a></li>
                        </ul>
                    </li>
                    
                    </li>
                    <li class=widget-comment><h4 class=footerheading>recent <span>comments</span></h4>
                        <ul class=widget_commentDetails>
                            <li><a href=# class=clearfix>
                                <div class=comment-pic>
                                    <div class=columnpic><img src=images/widget/comment01.jpg alt=image></div>
                                </div>
                                <div class=commentinfo><p class=uppercaseheading>jhon doe</p>

                                    <p>18 April ,<span class=red>2015</span></p>

                                    <p>nice and cool</p></div>
                            </a></li>
                            <li><a href=# class=clearfix>
                                <div class=comment-pic>
                                    <div class=columnpic><img src=images/widget/comment02.jpg alt=image></div>
                                </div>
                                <div class=commentinfo><p class=uppercaseheading>jhon doe</p>

                                    <p>18 April ,<span class=red>2015</span></p>

                                    <p>nice and cool</p></div>
                            </a></li>
                            <li><a href=# class=clearfix>
                                <div class=comment-pic>
                                    <div class=columnpic><img src=images/widget/comment03.jpg alt=image></div>
                                </div>
                                <div class=commentinfo><p class=uppercaseheading>jhon doe</p>

                                    <p>18 April ,<span class=red>2015</span></p>

                                    <p>nice and cool</p></div>
                            </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class=footer-type02>
            <div class=container>
                <div class=row><a href="{% url 'home' %}" class=footer-logo><img src=images/soccerzeal.jpg alt=image></a>

                    <div class=footer-container>
                        <ul class=clearfix>
                            <li><a href=https://www.facebook.com/soccer.zeal.2023 class=bigsocial-link><i
                                    class="fa fa-facebook"></i></a></li>
                            <li><a href=https://twitter.com/ZealSoccer class=bigsocial-link target=_blank><i
                                    class="fa fa-twitter"></i></a></li>
                                    <li><a href=https://www.instagram.com/scoccerzeal2023/ class=bigsocial-link><i
                                        class="fa fa-instagram"></i></a></li>
                            
                        </ul>
                       </div>
                    <div class=footer-appstore>
                        <figure><a href=#><img src=images/appstore/apple.png alt=image></a></figure>
                        <figure><a href=#><img src=images/appstore/google.png alt=image></a></figure>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src=js/vendor/vendor.js></script>
<script src=js/main.js></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
</body>

</html>