{% extends 'base.html' %}
{% load static %}

{% block Content %}
    <div class="innerbannerwrap">
      <div class="content"></div>
      <div class="innerbanner">
        <h2 class="bannerHeadline">contact <span>us</span></h2>
      </div>
    </div>
    <section class="innerpage_all_wrap">
      <div class="container">
        <div class="row">
          <h2 class="heading">get in <span>touch</span></h2>
          <div class="innerWrapper">
            <ul class="contact_icon clearfix">
              <li>
                <a href="tel:80052608885263"><span>+91 8104037066</span></a>
              </li>
              <li>
                <a href="mailto:mail@yoursite.com"><span>soccerzzeal2023@gmail.com</span></a>
              </li>
              <li>
                <a href="#"><span>Ground Rd Mapusa, Goa</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="map_wrapper clearfix">
      <div id="map-section"></div>
      <div class="container">
        <div class="row">
          <div class="contact_form">
            <h2 class="heading">contact us <span>by form</span></h2>
            <form method="post" action="add.php" data-parsley-validate="" name="contact" class="formcontact clearfix" id="contact">
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Name" required="" data-parsley-required-message="please insert Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="phone" placeholder="Phone" required="" data-parsley-required-message="please insert Phone No">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" placeholder="subject" required="" data-parsley-required-message="please insert subject">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" required="" data-parsley-required-message="please insert Email">
              </div>
              <div class="form-group1">
                <textarea class="form-control textas" name="message" placeholder="Message" required="" data-parsley-minlength="10" data-parsley-minlength-message="Come on! You need to enter at least a 10 character comment.." data-parsley-validation-threshold="10" data-parsley-maxlength="100"></textarea>
              </div><input type="submit" onclick="this.parentElement.style.display='none';" class="btn btn-red">send Us <a href="" url="home'"></a> <!-- <div class="alert">
                            <span class="btn btn-red" onclick="this.parentElement.style.display='none';"></span>
                            Message recorded Successfully.
                          </div> -->
              <div class="form-message"></div>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock Content %}

{% block page_js %}
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
{% endblock page_js %}