{% extends 'base.html' %}
{% load static %}

{% block Content %}
    <div class="innerbannerwrap">
      <div class="content"></div>
      <div class="innerbanner">
        <h2 class="bannerHeadline"><span>gallery</span></h2>
      </div>
    </div>
    <section class="innerpage_all_wrap">
      <div class="container">
        <div class="row">
          <div class="galleryPage">
            <div class="galleryListwrap clearfix">
              <div class="gallery-list">
                <div class="column_g">
                  <div class="image_g" style="background:url(/static/images/gallery/g1.jpg)"></div>
                  <div class="gallery-info gallery-info01"></div>
                </div>
              </div>
              <div class="gallery-list">
                <div class="column_g">
                  <div class="image_g" style="background:url({% static 'images/gallery/g2.jpg' %})"></div>
                  <div class="gallery-info gallery-info01"></div>
                </div>
              </div>
            </div>
            <div class="galleryListwrap clearfix">
              <div class="gallery-list">
                <div class="column_g">
                  <div class="image_g" style="background:url({% static 'images/gallery/g3.jpg' %})"></div>
                  <div class="gallery-info gallery-info01"></div>
                </div>
              </div>
              <div class="gallery-list">
                <div class="column_g">
                  <div class="image_g" style="background:url({% static 'images/gallery/g4.jpg' %})"></div>
                  <div class="gallery-info gallery-info01"></div>
                </div>
              </div>
            </div>
            <div class="galleryListwrap clearfix">
              <div class="gallery-list">
                <div class="column_g">
                  <div class="image_g" style="background:url({% static 'images/gallery/g5.jpg' %})"></div>
                  <div class="gallery-info gallery-info01">
                    <h6>gallery header</h6>
                  </div>
                </div>
              </div>
              <div class="gallery-list">
                <div class="column_g">
                  <div class="image_g" style="background:url({% static 'images/gallery/g6.jpg' %})"></div>
                  <div class="gallery-info gallery-info01">
                    <h6>gallery header</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 {% endblock Content%}