{% extends 'base.html' %}
{% load static %}

{% block Content %}
    <div class="innerbannerwrap">
      <div class="content"></div>
      <div class="innerbanner">
        <h2 class="bannerHeadline"><span>gallery</span></h2>
      </div>
    </div>
    <section class="innerpage_all_wrap">
      <div class="container">
        <div class="row">
          <ul class="galleryPage gallerycolumn03 clearfix" id="da_gallery">
            <li class="gallery-list">
              <a class="column_g">
              <div class="gallery-info"></div></a>
            </li>
            <li class="gallery-list">
              <a class="column_g">
              <div class="gallery-info"></div></a>
            </li>
            <li class="gallery-list">
              <a class="column_g">
              <div class="gallery-info"></div></a>
            </li>
            <li class="gallery-list">
              <a class="column_g">
              <div class="gallery-info"></div></a>
            </li>
            <li class="gallery-list">
              <a class="column_g">
              <div class="gallery-info"></div></a>
            </li>
            <li class="gallery-list">
              <a class="column_g">
              <div class="gallery-info"></div></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
{% endblock Content%}

{% block page_js %}
  <script type="text/javascript">


    $(function () {
        $('#da_gallery .gallery-list ').hoverdir();
    });

{% endblock page_js %}
 