{% extends 'base.html' %}
{% load static %}

{% block Content %}
    <div>
      <div class="blue_bg">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage">
                <h2>Login</h2>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <br>
      <br>
      <h1 align="center">Login</h1>
      <form action="login.php" method="post" align="center" id="loginform" class="login_form" name="loginform">
        <table align="center">
          <tr>
            <td>Enter Username</td>
            <td><input type="text" name="uusername" value="" size="30" required=""></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>Enter Password</td>
            <td><input type="password" name="upassword" value="" size="30" required=""></td>
          </tr>
        </table><!--<a href="register.html">Register Now!</a><br> -->
        <input type="submit" value="Login">
      </form>
    </div>
  {% endblock Content%}