{% extends 'base.html' %}
{% load static %}

{% block Content %}
    <div class="innerbannerwrap">
      <div class="content"></div>
      <div class="innerbanner">
        <h2 class="bannerHeadline">player <span>details</span></h2>
      </div>
    </div>
    <section class="playerDpage">
      <div class="container">
        <div class="row">
          <h2 class="heading">player <span>Details</span></h2>
          <p class="headParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil debitis mollitia qui libero voluptate ratione, molestias! Necessitatibus voluptatem temporibus doloremque non, vel ipsam, nesciunt dolores consequatur, est tempora ut! Est?&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil debitis mollitia qui libero voluptate ratione, molestias! Necessitatibus voluptatem temporibus doloremque non, vel ipsam, nesciunt dolores consequatur, est tempora ut! Est.</p>
          <ul class="playerDetailsPage-info clearfix">
            <li>
              <h2>08</h2>
              <h3>Connie Chesson</h3>
              <div class="bio_player">
                <div>
                  <span>nationality</span>urguayan
                </div>
                <div>
                  <span>Height</span>185(cm)
                </div>
                <div>
                  <span>position</span>right Back
                </div>
                <div>
                  <span>weight</span>78Kg
                </div>
                <div>
                  <span>born</span>20/01/1995
                </div>
                <div>
                  <span>previous club</span>Ghost Scorpions
                </div>
              </div><a href="shop.html" class="player_cart"><span>By the t-shirt of Connie Chesson</span></a>
            </li>
            <li>
              <h5>I like to fight for every ball as if it where the last and give my all on the field</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, tempore consequuntur. Magni distinctio nihil.</p>
              <div class="playersocial bg-black clearfix">
                <a href="#" class="social_link"></a> <a href="#" class="social_link"></a> <a href="#" class="social_link"></a> <a href="#" class="social_link"></a>
              </div>
            </li>
          </ul>
          <div class="information_section">
            <h4>About Connie Chesson</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla at, recusandae, iure omnis, debitis quam distinctio mollitia minima dolorem voluptatibus ducimus hic. Officiis quas laudantium unde veniam repudiandae quam, ea.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident odio et adipisci sed dolorem id ipsam deleniti porro, cum quaerat cumque veniam velit veritatis aliquam iusto facilis qui earum, at.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae deleniti quaerat ducimus, earum tempore aspernatur molestiae ad commodi, omnis minus! Esse quisquam nemo ducimus reiciendis repellendus, deleniti quae saepe magnam.</p>
            <h4>Neque porro quisquam est qui dolorem</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quis id totam veniam perferendis sapiente nostrum facere iure ipsa laboriosam perspiciatis voluptatum labore soluta, eligendi veritatis atque molestias a natus?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem alias assumenda non nesciunt atque nam, quos obcaecati doloribus necessitatibus nisi voluptas libero sunt officiis quisquam sit, saepe deserunt, rerum eligendi?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corporis fugit nostrum fuga, iure sequi reiciendis, omnis eius nihil provident nisi adipisci veritatis rem. Ipsa ipsam, aliquam omnis facilis minima.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias itaque dolore nam libero quidem, veritatis provident error est quo illo vel fugit, ut, possimus. Animi esse labore eum unde aliquam.</p>
            <h4>Suspendisse egestas, neque et tincidunt tempus</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni in facere sequi aspernatur assumenda expedita commodi quas quibusdam laboriosam, dignissimos, vitae non est iste blanditiis reprehenderit aut quis iusto error.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fuga non expedita ullam earum iusto magni necessitatibus inventore sequi omnis nisi repudiandae, voluptates unde facere cupiditate velit reiciendis sunt, quos!.</p>
            <h4>Phasellus fermentum tellus fringilla</h4>
            <p>nunc dui viverra quam, eget pharetra sapien sem luctus ex. Integer aliquam nec mi in bibendum. Duis pulvinar lacinia lacinia. Nulla eget eros et lorem sodales venenatis. Aenean porta sapien lacinia mauris interdum, ac facilisis nisl volutpat. Phasellus dui ipsum, pellentesque eget massa vitae, pulvinar tristique mi. Sed vel semper libero, in facilisis erat. Donec vestibulum ultrices efficitur. Aenean sit amet luctus lacus. Nunc accumsan efficitur euismod. Fusce non libero et orci condimentum rutrum vel ac diam. Integer accumsan, ipsum ac eleifend sollicitudin, justo turpis suscipit magna, a lobortis odio ex eget mi.</p>
          </div>
          <div class="scoresBoard">
            <div class="sb_header">
              <h4>Connie Chesson soccer club career</h4>
            </div>
            <div class="sb_body">
              <div class="first-column clearfix">
                <div>
                  season
                </div>
                <div>
                  2013-14
                </div>
                <div>
                  2014-2015
                </div>
                <div>
                  2015-2016
                </div>
                <div>
                  total
                </div>
              </div>
              <div class="wrapper-score-scrollbar">
                <div class="wrap">
                  <div class="second-column">
                    <div class="">
                      <a class="prevScore"></a> <a class="nextScore"></a> Gecko Rebels
                    </div>
                    <ul>
                      <li>Apps</li>
                      <li>Goals</li>
                    </ul>
                    <ul>
                      <li>25 + 1</li>
                      <li>5</li>
                    </ul>
                    <ul>
                      <li>21 +1</li>
                      <li>6</li>
                    </ul>
                    <ul>
                      <li>29 + 1</li>
                      <li>4</li>
                    </ul>
                    <ul>
                      <li>30+1</li>
                      <li>5</li>
                    </ul>
                  </div>
                  <div class="second-column">
                    <div class="">
                      <a class="prevScore"></a> <a class="nextScore"></a> Dark Bullets
                    </div>
                    <ul>
                      <li>Apps</li>
                      <li>Goals</li>
                    </ul>
                    <ul>
                      <li>25 + 1</li>
                      <li>5</li>
                    </ul>
                    <ul>
                      <li>21 +1</li>
                      <li>6</li>
                    </ul>
                    <ul>
                      <li>29 + 1</li>
                      <li>4</li>
                    </ul>
                    <ul>
                      <li>30+1</li>
                      <li>5</li>
                    </ul>
                  </div>
                  <div class="second-column">
                    <div class="">
                      <a class="prevScore"></a> <a class="nextScore"></a> Pink Bandits
                    </div>
                    <ul>
                      <li>Apps</li>
                      <li>Goals</li>
                    </ul>
                    <ul>
                      <li>25 + 1</li>
                      <li>5</li>
                    </ul>
                    <ul>
                      <li>21 +1</li>
                      <li>6</li>
                    </ul>
                    <ul>
                      <li>29 + 1</li>
                      <li>4</li>
                    </ul>
                    <ul>
                      <li>30+1</li>
                      <li>5</li>
                    </ul>
                  </div>
                  <div class="second-column">
                    <div class="">
                      <a class="prevScore"></a> <a class="nextScore"></a> Dark Pirates
                    </div>
                    <ul>
                      <li>Apps</li>
                      <li>Goals</li>
                    </ul>
                    <ul>
                      <li>25 + 1</li>
                      <li>5</li>
                    </ul>
                    <ul>
                      <li>21 +1</li>
                      <li>6</li>
                    </ul>
                    <ul>
                      <li>29 + 1</li>
                      <li>4</li>
                    </ul>
                    <ul>
                      <li>30+1</li>
                      <li>5</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="second-column total clearfix">
                <div class="">
                  total
                </div>
                <ul>
                  <li>Apps</li>
                  <li>Goals</li>
                </ul>
                <ul>
                  <li>25 + 1</li>
                  <li>5</li>
                </ul>
                <ul>
                  <li>21 +1</li>
                  <li>6</li>
                </ul>
                <ul>
                  <li>29 + 1</li>
                  <li>4</li>
                </ul>
                <ul>
                  <li>30+1</li>
                  <li>5</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="playerYear">
      <div class="container">
        <div class="row">
          <h2 class="heading">my <span>year</span></h2>
          <ul class="yr_accordion clearfix">
            <li class="active">
              <a href="#detailsprevYr">2015-2016</a>
            </li>
            <li>
              <a href="#detailscurrentYr">2014-2015</a>
            </li>
            <li>
              <a href="#detailsnextYr">2013-2014</a>
            </li>
          </ul>
          <div class="information-wrap clearfix">
            <div role="tabpanel" class="tab-pane information_section active" id="detailsprevYr">
              <h4>january</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores impedit, consequuntur commodi inventore modi debitis! Doloribus iste vero officia consequuntur cumque sequi, enim omnis magnam ipsum, nihil dolor, maxime repudiandae.</p>
              <p>Vivamus ac lectus non eros pharetra lobortis id sollicitudin orci. Mauris nec semper metus. Sed luctus justo a egestas sagittis. Cras a iaculis nibh. Ut pellentesque ligula nec nunc efficitur gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum eu magna neque. Suspendisse aliquam scelerisque posuere.</p>
              <h4>february</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quis id totam veniam perferendis sapiente nostrum facere iure ipsa laboriosam perspiciatis voluptatum labore soluta, eligendi veritatis atque molestias a natus?</p>
              <h4>march</h4>
              <p>TVivamus sapien nisi, finibus a lectus a, faucibus convallis dui. Morbi in dolor eleifend odio gravida euismod vitae ut elit. Fusce eget aliquet nisi. In quis massa tristique, elementum lorem in, malesuada nibh. Fusce sit amet pellentesque lacus, vel dictum leo. Etiam commodo ornare justo a rutrum. Nulla commodo, augue ut convallis varius, dolor massa consequat neque, ut placerat diam lectus vitae enim. Sed in pretium nulla. Fusce consequat nisl arcu, in vulputate leo aliquet non. Proin molestie vehicula ultrices. Nam vel suscipit nunc, et aliquam augue. Praesent ornare lectus in est varius, sed convallis nisl laoreet. Nunc sit amet congue justo.</p>
              <h4>april</h4>
              <p>nunc dui viverra quam, eget pharetra sapien sem luctus ex. Integer aliquam nec mi in bibendum. Duis pulvinar lacinia lacinia. Nulla eget eros et lorem sodales venenatis. Aenean porta sapien lacinia mauris interdum, ac facilisis nisl volutpat. Phasellus dui ipsum, pellentesque eget massa vitae, pulvinar tristique mi. Sed vel semper libero, in facilisis erat. Donec vestibulum ultrices efficitur. Aenean sit amet luctus lacus. Nunc accumsan efficitur euismod. Fusce non libero et orci condimentum rutrum vel ac diam. Integer accumsan, ipsum ac eleifend sollicitudin, justo turpis suscipit magna, a lobortis odio ex eget mi.</p>
            </div>
            <div role="tabpanel" class="tab-pane information_section" id="detailscurrentYr">
              <h4>january</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores impedit, consequuntur commodi inventore modi debitis! Doloribus iste vero officia consequuntur cumque sequi, enim omnis magnam ipsum, nihil dolor, maxime repudiandae.</p>
              <p>Vivamus ac lectus non eros pharetra lobortis id sollicitudin orci. Mauris nec semper metus. Sed luctus justo a egestas sagittis. Cras a iaculis nibh. Ut pellentesque ligula nec nunc efficitur gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum eu magna neque. Suspendisse aliquam scelerisque posuere.</p>
              <h4>february</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quis id totam veniam perferendis sapiente nostrum facere iure ipsa laboriosam perspiciatis voluptatum labore soluta, eligendi veritatis atque molestias a natus?</p>
              <h4>march</h4>
              <p>TVivamus sapien nisi, finibus a lectus a, faucibus convallis dui. Morbi in dolor eleifend odio gravida euismod vitae ut elit. Fusce eget aliquet nisi. In quis massa tristique, elementum lorem in, malesuada nibh. Fusce sit amet pellentesque lacus, vel dictum leo. Etiam commodo ornare justo a rutrum. Nulla commodo, augue ut convallis varius, dolor massa consequat neque, ut placerat diam lectus vitae enim. Sed in pretium nulla. Fusce consequat nisl arcu, in vulputate leo aliquet non. Proin molestie vehicula ultrices. Nam vel suscipit nunc, et aliquam augue. Praesent ornare lectus in est varius, sed convallis nisl laoreet. Nunc sit amet congue justo.</p>
              <h4>april</h4>
              <p>nunc dui viverra quam, eget pharetra sapien sem luctus ex. Integer aliquam nec mi in bibendum. Duis pulvinar lacinia lacinia. Nulla eget eros et lorem sodales venenatis. Aenean porta sapien lacinia mauris interdum, ac facilisis nisl volutpat. Phasellus dui ipsum, pellentesque eget massa vitae, pulvinar tristique mi. Sed vel semper libero, in facilisis erat. Donec vestibulum ultrices efficitur. Aenean sit amet luctus lacus. Nunc accumsan efficitur euismod. Fusce non libero et orci condimentum rutrum vel ac diam. Integer accumsan, ipsum ac eleifend sollicitudin, justo turpis suscipit magna, a lobortis odio ex eget mi.</p>
              <h4>may</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, repudiandae asperiores nulla quasi labore dolorem fugit! Unde possimus, accusantium dicta, obcaecati sed nulla similique neque earum ad cumque soluta ipsa.</p>
            </div>
            <div role="tabpanel" class="tab-pane information_section" id="detailsnextYr">
              <h4>april</h4>
              <p>nunc dui viverra quam, eget pharetra sapien sem luctus ex. Integer aliquam nec mi in bibendum. Duis pulvinar lacinia lacinia. Nulla eget eros et lorem sodales venenatis. Aenean porta sapien lacinia mauris interdum, ac facilisis nisl volutpat. Phasellus dui ipsum, pellentesque eget massa vitae, pulvinar tristique mi. Sed vel semper libero, in facilisis erat. Donec vestibulum ultrices efficitur. Aenean sit amet luctus lacus. Nunc accumsan efficitur euismod. Fusce non libero et orci condimentum rutrum vel ac diam. Integer accumsan, ipsum ac eleifend sollicitudin, justo turpis suscipit magna, a lobortis odio ex eget mi.</p>
              <h4>may</h4>
              <p>nunc dui viverra quam, eget pharetra sapien sem luctus ex. Integer aliquam nec mi in bibendum. Duis pulvinar lacinia lacinia. Nulla eget eros et lorem sodales venenatis. Aenean porta sapien lacinia mauris interdum, ac facilisis nisl volutpat. Phasellus dui ipsum, pellentesque eget massa vitae, pulvinar tristique mi. Sed vel semper libero, in facilisis erat. Donec vestibulum ultrices efficitur. Aenean sit amet luctus lacus. Nunc accumsan efficitur euismod. Fusce non libero et orci condimentum rutrum vel ac diam. Integer accumsan, ipsum ac eleifend sollicitudin, justo turpis suscipit magna, a lobortis odio ex eget mi.</p>
              <h4>june</h4>
              <p>nunc dui viverra quam, eget pharetra sapien sem luctus ex. Integer aliquam nec mi in bibendum. Duis pulvinar lacinia lacinia. Nulla eget eros et lorem sodales venenatis. Aenean porta sapien lacinia mauris interdum, ac facilisis nisl volutpat. Phasellus dui ipsum, pellentesque eget massa vitae, pulvinar tristique mi. Sed vel semper libero, in facilisis erat. Donec vestibulum ultrices efficitur. Aenean sit amet luctus lacus. Nunc accumsan efficitur euismod. Fusce non libero et orci condimentum rutrum vel ac diam. Integer accumsan, ipsum ac eleifend sollicitudin, justo turpis suscipit magna, a lobortis odio ex eget mi.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sponsors">
      <div class="container">
        <div class="row">
          <h2 class="heading">my exclusive <span>sponsors</span></h2>
          <p class="headParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis earum reprehenderit quisquam, veritatis, qui libero velit consequatur alias assumenda corporis aut quibusdam, sint numquam voluptatem sapiente doloribus ipsum odit nihil!</p>
          <ul class="client clearfix">
            <li>
              <a href="#"><img src="images/client/client01.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client02.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client03.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client04.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client02.png" alt="image"></a>
            </li>
            <li>
              <a href="#"><img src="images/client/client05.png" alt="image"></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  {% endblock content%}