{% extends 'base.html' %}
{% load static %}

{% block Content %}
    <div>
      <div class="blue_bg">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage">
                <h2>Register</h2>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <br>
      <br>
      <h1 align="center">Register</h1>
      <form action="register.php" method="post" align="center">
        <table align="center">
          <tr>
            <td>Enter First Name</td>
            <td><input type="text" name="ufname" value="" required=""><br></td>
          </tr>
          <tr>
            <td>Enter Last Name</td>
            <td><input type="text" name="ulname" value="" required=""><br></td>
          </tr>
          <tr>
            <td>Enter Username</td>
            <td><input type="text" name="uusername" value="" required=""><br></td>
          </tr>
          <tr>
            <td>Enter Password</td>
            <td><input type="password" name="upassword" value="" required=""><br></td>
          </tr>
        </table>Already Have An Account? <a href="login.html">Login Now!</a><br>
        <button type="submit" value="Register" class="login_register_button">Register</button> <input type="submit" value="Login">
      </form>
    </div>
 {% endblock Content%}