{% extends 'base.html' %}
{% load static %}

{% block Content %}
    <div>
      <div class="blue_bg">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage">
                <h2>Register</h2>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <br>
      <br>
      <h1 align="center">Register</h1>
      <form onsubmit="alert('Registered Successfully!');" method="post" align="center">
        {% csrf_token %}
        <table align="center">
          <tr>
            <td>Enter First Name:&nbsp;</td>
            <td><input type="text" name="ufname" value="" class='form-control' required><br></td>
          </tr>
          <tr>
            <td>Enter Last Name:&nbsp;</td>
            <td><input type="text" name="ulname" value="" class='form-control' required><br></td>
          </tr>
          <tr>
            <td>Enter Username:&nbsp;</td>
            <td><input type="text" name="uusername" value="" class='form-control' required><br></td>
          </tr>
          <tr>
            <td>Enter Password:&nbsp;</td>
            <td><input type="password" name="upassword" value="" class='form-control' required><br></td>
          </tr>
          
            
         
        </table>

            <center>Already Have An Account? <a href="{% url 'user_login' %}" class='ui red horizontal label'>Login Now!</a><br></center><br>
            <center><button type="submit" value="Register" class="ui button red">Register</button></center>
        
      </form>
    </div>
 {% endblock Content%}