{% load static %}
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <title>Soccer zeal</title>
  <link rel="shortcut icon" href="{% static 'images/soccerzeal.jpg' %}">
  <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/layerslider.css' %}">
  <script src="{% static  'js/vendor/modernizr.js'%}"></script>
</head><!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrappe" r="">
  <header class="header-main">
    <div class="header-upper">
      <div class="container">
        <div class="row">
          <ul>
            <li>
              <a href="login.html">Login</a>
            </li>
            <li>
              <a href="register.html">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-lower clearfix">
      <div class="container">
        <div class="row">
          <h1 class="logo"><a href="{% url 'home' %}"><img src="{% static 'image/android-chrome-192x192.png' %}" alt="image"></a></h1>
          <div class="menubar">
            <nav class="navbar">
              <div class="nav-wrapper">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span></button>
                </div>
                <div class="nav-menu">
                  <ul class="nav navbar-nav menu-bar">
                    <li>
                      <a href="" url="home'" class="active">Home</a>
                    </li>
                    <li>
                      <a href="" url="about'">about</a>
                    </li>
                    <li>
                      <a>gallery</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="gallery02.html">gallery column two</a>
                        </li>
                        <li>
                          <a href="gallery03.html">gallery column 03</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="blog.html">blog</a>
                    </li>
                    <li>
                      <a href="contact.html">contact</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <div class="social">
            <a href="https://www.facebook.com/soccer.zeal.2023" class="facebook"></a> <a href="https://twitter.com/ZealSoccer" class="twitter"></a><a href="https://www.instagram.com/scoccerzeal2023/" class="twitter"></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="banner" id="layerSlider" style="width: 100%;">
    <div class="ls-slide" data-ls="transition3d: 33,15; slidedelay: 8000 ; durationin:0;">
      <img src="images/banner/background01.jpg" class="ls-bg" alt="Slide background">
      <div class="ls-l layercontent01" style="top: 50%; left: 50%; z-index:4;" data-ls="offsetxin:left; offsetxout:right; durationin: 4000; parallaxlevel: 8;"><img src="images/banner/player.png" alt="innerimage" class="img-responsive" style="max-width: 100% !important ;"></div><img src="images/banner/ball.png" alt="innerimage" class="ls-l layercontent02" style="z-index:5;" data-ls="offsetxin: right; offsetxout:left; rotatein:-360; easingin: easeoutquart; durationin: 4000; delayin: 250; parallaxlevel: -5;"> <img src="images/banner/front_particles.png" alt="particles" class="ls-l" style="z-index:3; left:0;" data-ls="offsetxin: left; offsetxout:left; scalexin:50; easingin: easeoutquart; durationin: 3000; delayin: 250;"> <img src="images/banner/back_particles.png" alt="particles" class="ls-l" style="z-index:3; left:50%;" data-ls="offsetxin: left; offsetxout:left; scalein:90; easingin: easeoutquart; durationin: 3000; delayin: 250;">
      <h2 class="ls-l bannertext layercontent03" data-ls="offsetxin:left; rotatexin:90 ; durationin: 3500;">action</h2>
      <h2 class="ls-l bannertext01 italic01 layercontent04" data-ls="offsetxin:left; scalexin:9; durationin: 4000;">starts</h2>
      <h4 class="ls-l bannertext02 layercontent05" data-ls="offsetxin:left; rotatexin:90 ; durationin: 4500;">from</h4>
      <h2 class="ls-l bannertext01 layercontent06" style="left: 87%; top:760px;" data-ls="offsetxin:left; flipxin:90 ; durationin: 5000;">18<sup>th</sup></h2>
      <h6 class="ls-l bannertext03 layercontent07" data-ls="offsetxin:left; flipxin:90 ; durationin: 6000;">April , 2023</h6>
    </div>
  </div>
  <div class="banner-text">
    <div class="container">
      <div class="row">
        action start from 18<sup>st</sup> April , 2023.
      </div>
    </div>
  </div>
  <section class="latestvideo">
    <div class="container">
      <div class="row">
        <h2 class="heading">latest <span>video</span></h2>
        <div class="video-wrap clearfix">
          <div class="video-content clearfix">
            <a class="btn-up"></a>
            <ul class="videoLive clearfix" id="videoSlide" role="tablist">
              <li>
                <a class="changeVideo" data-yt-video="W7qWa52k-nE">
                <div>
                  <span>November 27, 2022</span> FINALE | All India Football Tournament 2022 : <span>Live audio and video</span>
                </div></a>
              </li>
              <li>
                <a class="changeVideo" data-yt-video="YtXNB-0cFBo">
                <div>
                  <span>March 10, 2023</span> Maina Sports Club defeat CRSC, Navelim 2-1 in a GFA Under-13 boys league football tournament : <span>Live audio and video</span>
                </div></a>
              </li>
              <li>
                <a class="changeVideo" data-yt-video="W7qWa52k-nE">
                <div>
                  <span>February 26, 2022</span> Chelsea FC U-14 vs FC Goa U-15 | Next Gen Mumbai Cup : <span>Live audio and video</span>
                </div></a>
              </li>
              <li>
                <a class="changeVideo" data-yt-video="yw3Cw5eG1wM">
                <div>
                  <span>November 23, 2023</span> LIVE : Goa Football Association | Goa Professional League Launch | Prudent | 231122: <span>Live audio and video</span>
                </div></a>
              </li>
              <li>
                <a class="changeVideo" data-yt-video="W7qWa52k-nE">
                <div>
                  <span>December 16, 2023</span> SANTOSH TROPHY MISERY FOR GOA YET AGAIN - Herald: <span>Live audio and video</span>
                </div></a>
              </li>
            </ul><a class="btn-down"></a>
          </div>
          <div class="video-show">
            <div class="video-container" id="video01" data-current-video="W7qWa52k-nE">
              <iframe width="866" height="487" src="https://www.youtube.com/embed/_KOY8_GiBsY" title="Euro Truck Simulator 2 | Got Boom Surprise From LG ULTRAGEAR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> class=liveVideo allowfullscreen=""&gt;
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="latest_news bg-white">
    <div class="container">
      <div class="row">
        <h2 class="heading">latest <span>news</span></h2>
        <p class="headParagraph"></p>
        <div class="LatestNews_wrap clearfix">
          <ul class="nav accordion-news" role="tablist">
            <li>
              <a href="#world_news" aria-controls="world_news" role="tab" data-toggle="tab" id="world_news_button">world news</a>
            </li>
            <li class="active">
              <a href="#club_news" aria-controls="club_news" role="tab" data-toggle="tab" id="club_news_button">club news</a>
            </li>
          </ul>
          <div class="tab-content news_display_container clearfix">
            <ul id="world_news" class="tab-pane">
              <li>
                <div class="figure">
                  <div class="column-news">
                    <div class="figure-01"><img src="images/news/news1.jpg" alt="image"></div>
                    <div class="content-01">
                      <h6><a href="#">17 Goan teams compete for Inter-Village Cup in Dubai</a></h6>
                      <p class="red_p"></p>
                      <p class="describtion">Getting 17 teams comprising players hailing from different villages in Goa to participate in a football tournament abroad is an achievement in itself.</p>
                    </div>
                    <div class="news_date clearfix">
                      <span>october 14,2015</span> <span class="like"><a href="#">45</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="figure">
                  <div class="column-news">
                    <div class="figure-01"><img src="images/news/news2.jpg" alt="image"></div>
                    <div class="content-01">
                      <h6><a href="#">Goa emerge champions of Veterans Football Tournament</a></h6>
                      <p class="red_p"></p>
                      <p class="describtion">Goa emerged champions of the 3rd Veterans Football Tournament, conducted by the Telangana Football Association</p>
                    </div>
                    <div class="news_date clearfix">
                      <span>29 JANUARY 2023</span> <span class="like"><a href="#">45</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="figure">
                  <div class="column-news">
                    <div class="figure-01"><img src="images/news/news3.jpg" alt="image"></div>
                    <div class="content-01">
                      <h6><a href="#">Goa to host Group III matches of Senior Women’s National Football Championship</a></h6>
                      <p class="red_p"></p>
                      <p class="describtion">The All India Football Federation has confirmed in a letter to the Goa Football Association (GFA) that Group III– comprising Odisha, Himachal Pradesh, Andhra Pradesh, Rajasthan Tripura and Goa will play their matches in Goa which are likely to be played between0 March 20 to April 5.</p>
                    </div>
                    <div class="news_date clearfix">
                      <span>october 14,2015</span> <span class="like"><a href="#">45</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="figure">
                  <div class="column-news">
                    <div class="figure-01"><img src="images/news/news4.jpg" alt="image"></div>
                    <div class="content-01">
                      <h6><a href="#">Durand Cup, oldest football tournament in Asia starts from August 16</a></h6>
                      <p class="red_p"></p>
                      <p class="describtion">The previous edition of Durand Cup 2021 was won by FC Goa which had beaten Mohammedan Sporting 1-0 in extra time.Edu Bedia, Goa’s then captain had scored the winning goal.FC Goa were unbeaten during their campaign for the trophy last year.</p>
                    </div>
                    <div class="news_date clearfix">
                      <span>october 14,2015</span> <span class="like"><a href="#">45</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="figure">
                  <div class="column-news">
                    <div class="figure-01"><img src="images/news/w-news-04.jpg" alt="image"></div>
                    <div class="content-01">
                      <h6><a href="#">consectetur adipisicing elit</a></h6>
                      <p class="describtion">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="news_date clearfix">
                      <span>october 14,2015</span> <span class="like"><a href="#">45</a></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul><a class="prv club_prev"></a> <a class="nxt club_next"></a>
            <ul id="club_news" class="tab-pane active clearfix">
              <li>
                <div class="figure">
                  <div class="column-news">
                    <div class="figure-01"><img src="images/news/cn1.jpg" alt="image"></div>
                    <div class="content-01">
                      <h6><a href="#">FC Goa go down to Dempo in the 2nd Division League</a></h6>
                      <p class="red_p"></p>
                      <p class="describtion">FC Goa slumped to a 3-0 defeat to Dempo SC today in a 2nd Division League game at the Nagoa Panchayat Ground in Verna, Goa.</p>
                    </div>
                    <div class="news_date clearfix">
                      <span>october 14,2015</span> <span class="like"><a href="#">45</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="figure">
                  <div class="column-news">
                    <div class="figure-01"><img src="images/news/cn2.jpg" alt="image"></div>
                    <div class="content-01">
                      <h6><a href="#">FC Goa get first win of Super Cup thanks to late Iker Guarrotxena winner</a></h6>
                      <p class="red_p"></p>
                      <p class="describtion">FC Goa recorded their first win of the 2023 Hero Super Cup as their star forward duo of Noah Sadaoui and Iker Guarrotxena combined to give the Gaurs all three points with a goal in the late stages of the match.</p>
                    </div>
                    <div class="news_date clearfix">
                      <span>october 14,2015</span> <span class="like"><a href="#">45</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="figure">
                  <div class="column-news">
                    <div class="figure-01"><img src="images/news/cn3.jpg" alt="image"></div>
                    <div class="content-01">
                      <h6><a href="#">Gokulam Kerala vs FC Goa: A grim battle to stay afloat</a></h6>
                      <p class="red_p"></p>
                      <p class="describtion">Spreading the beautiful game across different regions of the country is one of the key objectives in Vision 2047, and the Federation’s plan to host the Hero Super Cup in Kerala, where both Hero ISL and Hero I-League teams will come together, is part of it.</p>
                    </div>
                    <div class="news_date clearfix">
                      <span>october 14,2015</span> <span class="like"><a href="#">45</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="figure">
                  <div class="column-news">
                    <div class="figure-01"><img src="images/news/cn4.jpg" alt="image"></div>
                    <div class="content-01">
                      <h6><a href="#">Hyderabad FC, Odisha FC to battle it out in a must-win clash</a></h6>
                      <p class="red_p"></p>
                      <p class="describtion">Spreading the beautiful game across different regions of the country is one of the key objectives in Vision 2047, and the Federation’s plan to host the Hero Super Cup in Kerala, where both Hero ISL and Hero I-League teams will come together, is part of it. the-aiff.com is currently in Malappuram and Kozhikode and is following the progress of the clubs in the Hero Super Cup closely in a series of stories.</p>
                    </div>
                    <div class="news_date clearfix">
                      <span>october 14,2015</span> <span class="like"><a href="#">45</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="figure">
                  <div class="column-news">
                    <div class="figure-01"><img src="images/news/c_news_05.jpg" alt="image"></div>
                    <div class="content-01">
                      <h6><a href="#">consectetur adipisicing elit</a></h6>
                    </div>
                    <div class="news_date clearfix">
                      <span>october 14,2015</span> <span class="like"><a href="#">45</a></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="players homeplayer">
    <div class="container">
      <div class="row">
        <h2 class="heading">our <span>heroes</span></h2>
        <div class="wrapplayer clearfix">
          <a class="prv prev-player"></a> <a class="nxt next-player"></a>
          <ul class="slideHeroes clearfix">
            <li>
              <a href="#">
              <div class="playerFig">
                <div class="playerpic">
                  <div style="background:url(images/player/player1.jpg)" class="bgimg"></div>
                </div>
                <ul class="playerDetails clearfix">
                  <li><span>Cristiano Ronaldo</span> <span><img src="images/icons/tShirt.png" alt="image"></span></li>
                  <li class="playinfodetails">age 38 (born 5 February ,1985)</li>
                  <li class="playerInfo"><span>Striker</span> <span>99</span></li>
                </ul>
              </div></a>
            </li>
            <li>
              <a href="#">
              <div class="playerFig">
                <div class="playerpic">
                  <div style="background:url(images/player/player2.jpg)" class="bgimg"></div>
                </div>
                <ul class="playerDetails clearfix">
                  <li><span>Lionel Messi</span> <span><img src="images/icons/tShirt.png" alt="image"></span></li>
                  <li class="playinfodetails">age 35 (born 24 june ,1987)</li>
                  <li class="playerInfo">Foward<span>98</span></li>
                </ul>
              </div></a>
            </li>
            <li>
              <a href="#">
              <div class="playerFig">
                <div class="playerpic">
                  <div style="background:url(images/player/player3.jpg)" class="bgimg"></div>
                </div>
                <ul class="playerDetails clearfix">
                  <li><span>Neymar jr</span> <span><img src="images/icons/tShirt.png" alt="image"></span></li>
                  <li class="playinfodetails">age 31 (born 5 February ,1992)</li>
                  <li class="playerInfo"><span>STRIKER</span> <span>95</span></li>
                </ul>
              </div></a>
            </li>
            <li>
              <a href="#">
              <div class="playerFig">
                <div class="playerpic">
                  <div style="background:url(images/player/player4.jpg)" class="bgimg"></div>
                </div>
                <ul class="playerDetails clearfix">
                  <li><span>Sunil Chhetri</span> <span><img src="images/icons/tShirt.png" alt="image"></span></li>
                  <li class="playinfodetails">age 38 (born 3 August ,1984)</li>
                  <li class="playerInfo"><span>STRIKER</span> <span>85</span></li>
                </ul>
              </div></a>
            </li>
            <li>
              <a href="#">
              <div class="playerFig">
                <div class="playerpic">
                  <div style="background:url(images/player/player5.jpg)" class="bgimg"></div>
                </div>
                <ul class="playerDetails clearfix">
                  <li><span>Gareth Bale</span> <span><img src="images/icons/tShirt.png" alt="image"></span></li>
                  <li class="playinfodetails">age 33 (born 16 July ,1989)</li>
                  <li class="playerInfo"><span>STRIKER</span> <span>90</span></li>
                </ul>
              </div></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="gallery">
    <div class="container">
      <div class="row">
        <h2 class="heading">our <span>gallery</span></h2>
      </div>
    </div>
    <div class="galleryWrapper">
      <div class="grid">
        <div class="grid_item">
          <div class="gallery_dtl">
            <img src="images/gallery/g1.jpg" alt="image">
            <div class="gallery_info">
              <div class="galleryinfo_wrap">
                <p class="uppercase"></p>
                <p class="red_p"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid_item">
          <div class="gallery_dtl">
            <img src="images/gallery/g2.jpg" alt="image">
            <div class="gallery_info">
              <div class="galleryinfo_wrap">
                <p class="uppercase"></p>
                <p class="red_p"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid_item">
          <div class="gallery_dtl">
            <img src="images/gallery/g3.jpg" alt="image">
            <div class="gallery_info">
              <div class="galleryinfo_wrap">
                <p class="uppercase"></p>
                <p class="red_p"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid_item">
          <div class="gallery_dtl">
            <img src="images/gallery/g4.jpg" alt="image">
            <div class="gallery_info">
              <div class="galleryinfo_wrap">
                <p class="uppercase"></p>
                <p class="red_p"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid_item">
          <div class="gallery_dtl">
            <img src="images/gallery/g5.jpg" alt="image">
            <div class="gallery_info">
              <div class="galleryinfo_wrap">
                <p class="uppercase"></p>
                <p class="red_p"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid_item">
          <div class="gallery_dtl">
            <img src="images/gallery/g6.jpg" alt="image">
            <div class="gallery_info">
              <div class="galleryinfo_wrap">
                <p class="uppercase"></p>
                <p class="red_p"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid_item">
          <div class="gallery_dtl">
            <img src="images/gallery/g7.jpg" alt="image">
            <div class="gallery_info">
              <div class="galleryinfo_wrap">
                <p class="uppercase"></p>
                <p class="red_p"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid_item">
          <div class="gallery_dtl">
            <img src="images/gallery/g8.jpg" alt="image">
            <div class="gallery_info">
              <div class="galleryinfo_wrap">
                <p class="uppercase"></p>
                <p class="red_p"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid_item">
          <div class="gallery_dtl">
            <img src="images/gallery/g9.jpg" alt="image">
            <div class="gallery_info">
              <div class="galleryinfo_wrap">
                <p class="uppercase"></p>
                <p class="red_p"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid_item">
          <div class="gallery_dtl">
            <img src="images/gallery/g10.jpg" alt="image">
            <div class="gallery_info">
              <div class="galleryinfo_wrap">
                <p class="uppercase"></p>
                <p class="red_p"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid_item">
          <div class="gallery_dtl">
            <img src="images/gallery/g11.jpg" alt="image">
            <div class="gallery_info">
              <div class="galleryinfo_wrap">
                <p class="uppercase"></p>
                <p class="red_p"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="gutter"></div>
      </div>
    </div>
  </section>
  <section class="social-media">
    <div class="container">
      <div class="row">
        <ul class="socialinfo">
          <li>
            <a href="#">
            <div class="sociallink"></div></a>
          </li>
          <li>
            <a href="#">
            <div class="sociallink"></div></a>
          </li>
          <li>
            <a href="#">
            <div class="sociallink"></div></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="awards">
    <div class="container">
      <div class="row">
        <h2 class="heading">awa<span>rds</span></h2>
        <div class="wrapper-container clearfix">
          <a class="prv awards_prev"></a> <a class="nxt awards_next"></a>
          <ul class="awards-wrap clearfix">
            <li>
              <a href="achivement_details.html"><img src="images/awards/awards01.png" alt="image">
              <ul class="awards-info">
                <li>uefa 2014</li>
                <li>champion</li>
              </ul></a>
            </li>
            <li>
              <a href="achivement_details.html"><img src="images/awards/awards02.png" alt="image">
              <ul class="awards-info">
                <li>uefa 2014</li>
                <li>champion</li>
              </ul></a>
            </li>
            <li>
              <a href="achivement_details.html"><img src="images/awards/awards03.png" alt="image">
              <ul class="awards-info">
                <li>uefa 2014</li>
                <li>champion</li>
              </ul></a>
            </li>
            <li>
              <a href="#"><img src="images/awards/awards04.png" alt="image">
              <ul class="awards-info">
                <li>uefa 2014</li>
                <li>champion</li>
              </ul></a>
            </li>
            <li>
              <a href="achivement_details.html"><img src="images/awards/awards02.png" alt="image">
              <ul class="awards-info">
                <li>uefa 2014</li>
                <li>champion</li>
              </ul></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer-type01">
    <div class="container">
      <div class="row">
        <ul class="footer-widget">
          <li class="widget-about">
            <h4 class="footerheading">about <span>soccer club</span></h4>
            <p>Based in Goa, Soccer Zeal Sports Club is a professional football club, that currently competes in the Goa Professional League. Founded in 2023, the club has gone on to become one, if not the most successful club, Indian Football has ever witnessed, currently under the ownership and guidance of Mr. Shrinivas Vasudeva Sinai Mapusa, Chairman of the Zeal Group of Companies, the club has begun to invest huge time and money in the development of talent, right from the Grassroots level all the way to the senior team.</p>
            <p><span class="uppercaseheading">address:</span><span class="red">Duler</span>Ground Rd Mapusa, Goa</p>
            <p><span class="uppercaseheading">call:</span> <span class="red">1800-2222-3333</span></p>
          </li>
          <li class="widget-news">
            <h4 class="footerheading">recent <span>news</span></h4>
            <ul class="widget-newsdetails clearfix">
              <li class="clearfix">
                <a href="" class="clearfix">
                <div class="widget-pic" style="background:url(images/widget/widget01.jpg) center no-repeat"></div>
                <div class="widget-newsinfo">
                  <p class="uppercaseheading">18 september ,<span class="red">2015</span></p>
                </div></a>
              </li>
              <li class="clearfix">
                <a href="" class="clearfix">
                <div class="widget-pic" style="background:url(images/widget/widget02.jpg) center no-repeat"></div>
                <div class="widget-newsinfo">
                  <p class="uppercaseheading">18 september ,<span class="red">2015</span></p>
                </div></a>
              </li>
              <li class="clearfix">
                <a href="" class="clearfix">
                <div class="widget-pic" style="background:url(images/widget/widget03.jpg) center no-repeat"></div>
                <div class="widget-newsinfo">
                  <p class="uppercaseheading">18 september ,<span class="red">2015</span></p>
                </div></a>
              </li>
            </ul>
          </li>
          <li class="widget-comment">
            <h4 class="footerheading">recent <span>comments</span></h4>
            <ul class="widget_commentDetails">
              <li>
                <a href="#" class="clearfix">
                <div class="comment-pic">
                  <div class="columnpic"><img src="images/widget/comment01.jpg" alt="image"></div>
                </div>
                <div class="commentinfo">
                  <p class="uppercaseheading">jhon doe</p>
                  <p>18 April ,<span class="red">2015</span></p>
                  <p>nice and cool</p>
                </div></a>
              </li>
              <li>
                <a href="#" class="clearfix">
                <div class="comment-pic">
                  <div class="columnpic"><img src="images/widget/comment02.jpg" alt="image"></div>
                </div>
                <div class="commentinfo">
                  <p class="uppercaseheading">jhon doe</p>
                  <p>18 April ,<span class="red">2015</span></p>
                  <p>nice and cool</p>
                </div></a>
              </li>
              <li>
                <a href="#" class="clearfix">
                <div class="comment-pic">
                  <div class="columnpic"><img src="images/widget/comment03.jpg" alt="image"></div>
                </div>
                <div class="commentinfo">
                  <p class="uppercaseheading">jhon doe</p>
                  <p>18 April ,<span class="red">2015</span></p>
                  <p>nice and cool</p>
                </div></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-type02">
      <div class="container">
        <div class="row">
          <a href="{% url 'home' %}" class="footer-logo"><img src="images/soccerzeal.jpg" alt="image"></a>
          <div class="footer-container">
            <ul class="clearfix">
              <li>
                <a href="https://www.facebook.com/soccer.zeal.2023" class="bigsocial-link"></a>
              </li>
              <li>
                <a href="https://twitter.com/ZealSoccer" class="bigsocial-link" target="_blank"></a>
              </li>
              <li>
                <a href="https://www.instagram.com/scoccerzeal2023/" class="bigsocial-link"></a>
              </li>
            </ul>
          </div>
          <div class="footer-appstore">
            <figure>
              <a href="#"><img src="images/appstore/apple.png" alt="image"></a>
            </figure>
            <figure>
              <a href="#"><img src="images/appstore/google.png" alt="image"></a>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<script src="js/vendor/vendor.js"></script> 
<script src="js/main.js"></script>